In [1]:
import geopandas as gpd
import pandas as pd

import os
os.chdir('C:\Travail\MIGRINTER\Labo\Louis_Fernier\Analyse_camp_Nov2024')

# Import des données en septembre 2024

In [2]:
# gps = gpd.read_file("C:/Travail/Enseignement/Cours_M2_python/Projet_Arctox/output_arctox_15oct-fev.geojson")


data  = pd.read_excel(open('2024_09_26-LFernier_Carto_BDD_jointure_CLC_et_analyses.xlsx', 'rb'), sheet_name='BDD_camps')  

dico  = pd.read_excel(open('2024_09_26-LFernier_Carto_BDD_jointure_CLC_et_analyses.xlsx', 'rb'), sheet_name='Dictionnaire_bdd')  

print(data.columns)

print(data.shape)
#(1791, 278)

Index(['unique_id', 'id', 'nom', 'nom_court', 'doublon', 'remarques',
       'bdd_source', 'sources', 'iso3', 'pays',
       ...
       '2024_jointure_lib_3_fr', '2024_jointure_lib_3_en',
       '2024_jointure_CLC-2-3', '2024_jointure_lib_2-3_fr',
       '2024_jointure_lib_2-3_en', '2024_jointure_cl-2-3-fr',
       '2024_jointure_cl-2-3-en', '2024_jointure_rouge', '2024_jointure_vert',
       '2024_jointure_bleu'],
      dtype='object', length=278)
(1791, 278)

In [ ]:
# Importer les data dans camps5

#Create the connection with SQLAlchemy

import pandas.io.sql as sql
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:******@localhost:8001/camps_europe')
ORM_conn=engine.connect()
ORM_conn

#  save it with pandas into the database
data.to_sql('camps6', ORM_conn,  schema='camps', if_exists='replace' ) 
ORM_conn.commit()

In [ ]:
#est-ce qu'il y a une column geom
#to_suppress = ('Code_18	Area_Ha	ID_2	CLC1_2022	lib_1_fr_2022	lib_1_en_2022	CLC2_2022	lib_2_fr_2022	lib_2_en_2022	lib_3_fr_2022	lib_3_en_2022	CLC-2-3_2022	lib_2-3_fr_2022	lib_2-3_en_2022	cl-2-3-fr_2022	cl-2-3-en_2022	rouge_2022	vert_2022	bleu_2022	2024_jointure_Code_18	2024_jointure_Area_Ha	2024_jointure_ID_2	2024_jointure_CLC1	2024_jointure_lib_1_fr	2024_jointure_lib_1_en	2024_jointure_CLC2	2024_jointure_lib_2_fr	2024_jointure_lib_2_en	2024_jointure_lib_3_fr	2024_jointure_lib_3_en	2024_jointure_CLC-2-3	2024_jointure_lib_2-3_fr	2024_jointure_lib_2-3_en	2024_jointure_cl-2-3-fr	2024_jointure_cl-2-3-en	2024_jointure_rouge	2024_jointure_vert	2024_jointure_bleu

i = 0
x = data.shape[1] + 1
for e in data.columns:
    '''
    if e == 'geom':
        print('geom @'+str(i))
    if e == 'point3857' :
        print('point3857 @'+str(i))
    if e == 'point3035' :
        print('point3035 @'+str(i))    
    '''    
    if e == 'Code_18' :
        print('Code_18 @'+str(i)) 
        x = i
    if i >=  x:
       print(e+' @'+str(i))  
    
    i=i+1

# Code de connection à la BDD

In [3]:
#Let's open a SSH connection
from sshtunnel import SSHTunnelForwarder
# https://sshtunnel.readthedocs.io/en/latest/

remote_server_ip = 'xxx.xxx.xxx.xxx'
remote_server_port = 22
remote_server_username = 'tpm2'
remote_server_ssh_password="########" #Hide this before commit
#remote_bind_address=(PRIVATE_SERVER_IP, 22),
db_server_ip = '127.0.0.1'
db_server_port = 8001
private_server_ip = '127.0.0.1'
private_server_port = 5432

server = SSHTunnelForwarder(
    (remote_server_ip, 22),
    ssh_username=remote_server_username,
    ssh_password=remote_server_ssh_password,
    remote_bind_address=(private_server_ip, private_server_port),
    local_bind_address=(db_server_ip, db_server_port) )
try:
    server.start()
except:
    print("trouble connecting to the tunnel. We will assume it is already up")
else:
    print("server is started and on port ",server.local_bind_port)

server is started and on port  8001

In [2]:
# Using psycog2 connection (for the example)

import psycopg2

def getConnection() : 
    host = 'localhost'
    port = '5432' #8001
    user = 'postgres'
    password = 'postgres' 
    dbname='camps_europe'

    options="'-c search_path=camps,public'" #The schema you want to modify, arctic_christine first, then public

    connectString = 'host=' + host + ' port=' + port + ' user=' + user + ' dbname=' + dbname + ' password=' + password + ' options=' + options
    #connectString = 'host=' + host + ' port=' + port + ' user=' + user + ' dbname=' + dbname + ' password=' + password 
    #print(connectString)

    conn = None
    try:
        conn = psycopg2.connect(connectString)
    except Exception as e:
        print("I am unable to connect to the database. " + str(e))
    # Test DB
    if conn is not None:
        cur = conn.cursor()
        cur.execute('select count(*) from pg_namespace')
        result = cur.fetchone()
        if result is None:
            print('open_connection Failed to get count / use of database failed')
        else:
            print('open_connection Got database connexion : ' + str(result[0]))
    else:
        print('open_connection Failed to get database connexion')
    return conn

In [3]:
conn = getConnection()

open_connection Got database connexion : 6

## Supprimer les colonnes de jointure CLC qui ne servent pas ou qui sont fausses

In [ ]:
#Supprimer les colonnes de jointure CLC qui ne servent pas ou qui sont fausses
#to_suppress = ('Code_18	Area_Ha	ID_2	CLC1_2022	lib_1_fr_2022	lib_1_en_2022	CLC2_2022	lib_2_fr_2022	lib_2_en_2022	lib_3_fr_2022	lib_3_en_2022	CLC-2-3_2022	lib_2-3_fr_2022	lib_2-3_en_2022	cl-2-3-fr_2022	cl-2-3-en_2022	rouge_2022	vert_2022	bleu_2022	2024_jointure_Code_18	2024_jointure_Area_Ha	2024_jointure_ID_2	2024_jointure_CLC1	2024_jointure_lib_1_fr	2024_jointure_lib_1_en	2024_jointure_CLC2	2024_jointure_lib_2_fr	2024_jointure_lib_2_en	2024_jointure_lib_3_fr	2024_jointure_lib_3_en	2024_jointure_CLC-2-3	2024_jointure_lib_2-3_fr	2024_jointure_lib_2-3_en	2024_jointure_cl-2-3-fr	2024_jointure_cl-2-3-en	2024_jointure_rouge	2024_jointure_vert	2024_jointure_bleu
sql_query = 'alter table camps.camps6 drop column IF exists "{0}"'

conn = getConnection()
cur = conn.cursor()

i = 0
x = data.shape[1] + 1
for e in data.columns:
    if e == 'Code_18' :
        print('Code_18 @'+str(i)) 
        x = i
    if i >=  x:
        print(e+' @'+str(i))  
        #Get a cursor
        query = sql_query.format(e)
        print(query)
        cur.execute(query)
    i=i+1

conn.commit()
conn.close()

# OSM

Importer les données de chaque pays 

Voir ensuite le programme feed_osm.py qui perfectionne la méthode.

In [6]:
liste_pays  = ['andorra', 'liechtenstein', 'guernsey-jersey', 'isle-of-man', 'malta', 'faroe-islands', 'azores', 'macedonia', 'kosovo', 'cyprus', 'montenegro', 'luxembourg', 'albania', 'iceland', 'moldova', 'georgia', 'estonia', 'latvia', 'bulgaria', 'croatia', 'lithuania', 'serbia', 'hungary', 'romania', 'slovenia', 'slovakia', 'belarus', 'greece', 'ireland-and-northern-ireland', 'portugal', 'switzerland', 'monaco', 'turkey', 'finland', 'sweden', 'austria', 'ukraine', 'czech-republic', 'norway', 'united-kingdom']

In [ ]:
import datetime
import subprocess

#for e in liste_pays:
#    print(e)
liste_pays  = ['andorra', 'liechtenstein', 'guernsey-jersey', 'isle-of-man', 'malta', 'faroe-islands', 'azores', 'macedonia', 'kosovo', 'cyprus', 'montenegro', 'luxembourg', 'albania', 'iceland', 'moldova', 'georgia', 'estonia', 'latvia', 'bulgaria', 'croatia', 'lithuania', 'serbia', 'hungary', 'romania', 'slovenia', 'slovakia', 'belarus', 'greece', 'ireland-and-northern-ireland', 'portugal', 'switzerland', 'monaco', 'turkey', 'finland', 'sweden', 'austria', 'ukraine', 'czech-republic', 'norway', 'united-kingdom']

pays = liste_pays[0]
print(liste_pays[0])

#Importer les données OSM


param = '-d osm -U postgres -c -s --drop  /data/osm/{0}-latest.osm.pbf'
#postgresql://postgres:password@localhost:8001/osm
print('calling insert into DB of {0} at {1}'.format(pays, datetime.datetime.now().isoformat()))
print(param)

return_code = subprocess.call(["osm2pgsql", param.format(pays)]) 


print('end of insert into DB of {0} at {1}'.format(pays, datetime.datetime.now().isoformat()))
print(return_code)

#Déplacer dans un schéma du nom du pays les données OSM

sql_query1 = 'create schema {0} '
sql_query2 = 'alter table planet_osm_point set schema {0}'
sql_query3 = 'alter table planet_osm_line set schema {0}'
sql_query4 = 'alter table planet_osm_polygon set schema {0}'
sql_query5 = 'alter table planet_osm_roads set schema {0}'

conn = getConnection()
cur = conn.cursor()
cur.execute(sql_query1.format(pays))    
cur.execute(sql_query2.format(pays))    
cur.execute(sql_query3.format(pays))    
cur.execute(sql_query4.format(pays))    
cur.execute(sql_query5.format(pays))    

conn.commit()

conn.close()

## Créer les requetes de mise à jour, pays par pays

### Exemple avec le denmark

```SQL
-- créer la vue
create or replace VIEW  public.osm_point AS
            SELECT osm_id, way, aeroway,amenity,boundary,building,highway,landuse,leisure,man_made,military,office,power,public_transport,railway,shop,waterway 
            FROM dblink('dbname=osm user=postgres password=****** options=-csearch_path=',
                        'select osm_id, way, aeroway,amenity,boundary,building,highway,landuse,leisure,man_made,military,office,power,public_transport,railway,shop,waterway 
                            from osm.denmark.planet_osm_point a 
                            where amenity in (''atm'',''bus_station'',''clinic'',''dentist'',''doctors'',''drinking_water'',''hospital'',''pharmacy'',''recycling'',''townhall'',''water_point'', ''post_box'', ''post_office'', ''school'', ''college'', ''community_centre'', ''social_centre'', ''bureau_de_change'', ''language_school'', ''internet_cafe'')
									or boundary in (''administrative'',''hazard'',''national_park'',''protected_area'')
									or aeroway=''aerodrome''
									or building in (''train_station'', ''hospital'', ''school'')
									or landuse=''quarry''
									or highway in (''bus_stop'',''motorway'',''trunk'')
									or leisure in (''nature_reserve'', ''shooting_ground'')
									or man_made in (''wastewater_plant'', ''man_made=water_tap'')
									or military=''danger_area''
									or office=''lawyer''
									or power=''line''
									or public_transport in (''platform'', ''station'')
									or railway in (''halt'',''platform'',''rail'',''station'')
									or shop in (''chemist'', ''medical_supply'')
									or waterway=''water_point''
									or population is not null 
                                    ')
            AS t1(osm_id int8, way geometry, aeroway text,amenity text,boundary text,building text,highway text,landuse text,leisure text,man_made text,military text,office text,power text,public_transport text,railway text,shop text,waterway text) ; 

create or replace VIEW  public.osm_polygon AS
            SELECT osm_id, way, name, admin_level, population, aeroway,amenity,boundary,building,highway,landuse,leisure,man_made,military,office,power,public_transport,railway,shop,waterway 
            FROM dblink('dbname=osm user=postgres password=****** options=-csearch_path=',
                        'select osm_id, way, name, admin_level, population, aeroway,amenity,boundary,building,highway,landuse,leisure,man_made,military,office,power,public_transport,railway,shop,waterway 
                            from osm.denmark.planet_osm_polygon a 
                            where amenity in (''atm'',''bus_station'',''clinic'',''dentist'',''doctors'',''drinking_water'',''hospital'',''pharmacy'',''recycling'',''townhall'',''water_point'', ''post_box'', ''post_office'', ''school'', ''childcare'', ''kindergarten'', ''college'', ''community_centre'',  ''post_office'', ''clinic'',  ''internet_cafe'')
									or boundary in (''administrative'',''hazard'',''national_park'',''protected_area'')
									or aeroway=''aerodrome''
									or building in (''train_station'',''healthcare'', ''hospital'', ''clinic'', ''townhall'', ''school'', ''college'', ''kindergarten'', ''childcare'')
									or landuse=''quarry''
									or highway in (''bus_stop'',''motorway'',''trunk'')
									or leisure in (''nature_reserve'', ''shooting_ground'')
									or man_made in (''wastewater_plant'', ''man_made=water_tap'')
									or military=''danger_area''
									or office=''lawyer''
									or power=''line''
									or public_transport in (''platform'', ''station'')
									or railway in (''halt'',''platform'',''rail'',''station'')
									or shop in (''chemist'', ''medical_supply'')
									or waterway=''water_point''
									or population is not null 
                                    ')
    AS t1(osm_id int8, way geometry, name text, admin_level int, population int8, aeroway text,amenity text,boundary text,building text,highway text,landuse text,leisure text,man_made text,military text,office text,power text,public_transport text,railway text,shop text,waterway text) ; 
```

```SQL
-- mise à jour
update camps.camps6  c set ecole_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 1)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point osm , camps.camps6  c
	where (amenity in ('school', 'college') or building in ('school', 'college') ) and c.iso3 in ( 'DNK') and c.point3857 is not null
	group by c.unique_id
	union 
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon osm , camps.camps6  c
	where (amenity in ('school', 'college') or building in ('school', 'college')) and c.iso3 in ('DNK') and c.point3857 is not null
	group by c.unique_id
	)
	) as u 
	group by unique_id
) as k 
where k.unique_id = c.unique_id and ecole_hors_camp_distance_km is null;
```

Voir le fichier C:\Travail\MIGRINTER\Labo\Louis_Fernier\Analyse_camp_Nov2024\distances_OSM_sql.txt

In [7]:
# Lire le fichier Excel et l'onglet
#C:\Travail\MIGRINTER\Labo\Louis_Fernier\Analyse_camp_Nov2024\
osmsources  = pd.read_excel(open('liste_source_OSM-v2.xlsx', 'rb'), sheet_name='schemas_code')  



liste_pays  = ['andorra', 'liechtenstein', 'guernsey-jersey', 'isle-of-man', 'malta', 'faroe-islands', 'azores', 'macedonia', 'kosovo', 'cyprus', 'montenegro', 'luxembourg', 'albania', 'iceland', 'moldova', 'georgia', 'estonia', 'latvia', 'bulgaria', 'croatia', 'lithuania', 'serbia', 'hungary', 'romania', 'slovenia', 'slovakia', 'belarus', 'greece', 'ireland-and-northern-ireland', 'portugal', 'switzerland', 'monaco', 'turkey', 'finland', 'sweden', 'austria', 'ukraine', 'czech-republic', 'norway']
for e in liste_pays:
    pays = e.replace('-', '_')
    #print(pays)
    
osmsources

              Nom_schema code_iso3
0              'andorra'       AND
1        'liechtenstein'       LIE
2                'malta'       MLT
3        'faroe-islands'       FRO
4                azores'       PRT
..                   ...       ...
62      'sachsen-anhalt'       DEU
63             'sachsen'       DEU
64  'schleswig-holstein'       DEU
65          'thueringen'       DEU
66              'france'       FRA

[67 rows x 2 columns]

In [8]:
vue_point_simple = """create or replace VIEW  public.osm_point AS
            SELECT osm_id, way, aeroway,amenity,boundary,building,highway,landuse,leisure,man_made,military,office,power,public_transport,railway,shop,waterway 
            FROM dblink('dbname=osm user=postgres password=****** options=-csearch_path=',
                        'select osm_id, way, aeroway,amenity,boundary,building,highway,landuse,leisure,man_made,military,office,power,public_transport,railway,shop,waterway 
                            from osm.{0}.planet_osm_point a 
                            where amenity in (''atm'',''bus_station'',''clinic'',''dentist'',''doctors'',''drinking_water'',''hospital'',''pharmacy'',''recycling'',''townhall'',''water_point'', ''post_box'', ''post_office'', ''school'', ''college'', ''community_centre'', ''social_centre'', ''bureau_de_change'', ''language_school'', ''internet_cafe'')
									or boundary in (''administrative'',''hazard'',''national_park'',''protected_area'')
									or aeroway=''aerodrome''
									or building in (''train_station'', ''hospital'', ''school'')
									or landuse=''quarry''
									or highway in (''bus_stop'',''motorway'',''trunk'')
									or leisure in (''nature_reserve'', ''shooting_ground'')
									or man_made in (''wastewater_plant'', ''man_made=water_tap'')
									or military=''danger_area''
									or office=''lawyer''
									or power=''line''
									or public_transport in (''platform'', ''station'')
									or railway in (''halt'',''platform'',''rail'',''station'')
									or shop in (''chemist'', ''medical_supply'')
									or waterway=''water_point''
									or population is not null 
                                    ')
            AS t1(osm_id int8, way geometry, aeroway text,amenity text,boundary text,building text,highway text,landuse text,leisure text,man_made text,military text,office text,power text,public_transport text,railway text,shop text,waterway text) ;"""
            
vue_polygon_simple = """create or replace VIEW  public.osm_polygon AS
            SELECT osm_id, way, name, admin_level, population, aeroway,amenity,boundary,building,highway,landuse,leisure,man_made,military,office,power,public_transport,railway,shop,waterway 
            FROM dblink('dbname=osm user=postgres password=****** options=-csearch_path=',
                        'select osm_id, way, name, admin_level, population, aeroway,amenity,boundary,building,highway,landuse,leisure,man_made,military,office,power,public_transport,railway,shop,waterway 
                            from osm.{0}.planet_osm_polygon a 
                            where amenity in (''atm'',''bus_station'',''clinic'',''dentist'',''doctors'',''drinking_water'',''hospital'',''pharmacy'',''recycling'',''townhall'',''water_point'', ''post_box'', ''post_office'', ''school'', ''childcare'', ''kindergarten'', ''college'', ''community_centre'',  ''post_office'', ''clinic'',  ''internet_cafe'')
									or boundary in (''administrative'',''hazard'',''national_park'',''protected_area'')
									or aeroway=''aerodrome''
									or building in (''train_station'',''healthcare'', ''hospital'', ''clinic'', ''townhall'', ''school'', ''college'', ''kindergarten'', ''childcare'')
									or landuse=''quarry''
									or highway in (''bus_stop'',''motorway'',''trunk'')
									or leisure in (''nature_reserve'', ''shooting_ground'')
									or man_made in (''wastewater_plant'', ''man_made=water_tap'')
									or military=''danger_area''
									or office=''lawyer''
									or power=''line''
									or public_transport in (''platform'', ''station'')
									or railway in (''halt'',''platform'',''rail'',''station'')
									or shop in (''chemist'', ''medical_supply'')
									or waterway=''water_point''
									or population is not null 
                                    ')
    AS t1(osm_id int8, way geometry, name text, admin_level int, population text, aeroway text,amenity text,boundary text,building text,highway text,landuse text,leisure text,man_made text,military text,office text,power text,public_transport text,railway text,shop text,waterway text) ; """

In [9]:
#f = open('distances_OSM_sql.txt')
f = open('distances_OSM_sql_camps8.txt')
# Read the contents of the file into a variable
texte = f.read()
requetes = texte.split(';')
print(requetes[0])
# Don't forget to close the file again
f.close()

-----------------------------------------------------------------------------------------------------------------
-- Auteur : Christine PLUMEJEAUD-PERREAU, UMR 7301 Migrinter
-- Date : 27/02/2025
-- Projet : thÃ¨se de Louis Fernier
-- MISE Ã  jour des distance aux amÃ©nitÃ©s OSM, arrondies au mÃ¨tre
-- DÃ©rive de distances_OSM_sql.txt
-- Agit sur camps 8 SANS restriction sur la liste des camps mis Ã  jour
-----------------------------------------------------------------------------------------------------------------



update camps.camps8  c set ecole_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college') ) and c.iso3 in ('{0}') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college')) and c.iso3 in ('{1}') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id

In [25]:
table = osmsources.groupby(by="code_iso3").agg({'Nom_schema': ','.join}).reset_index()
#osmsources.groupby(by="code_iso3").agg(['count', {'Nom_schema': ','.join}])
table #code_iso3 et Nom_schema comme colonnes

for e in table.index:
    #print(e)
    current_iso3 = table.iloc[e]['code_iso3']
    maliste = table.iloc[e]['Nom_schema']
    maliste = maliste.replace('-', '_')
    maliste = maliste.replace('\'', '')
    maliste = maliste.split(',')
    '''
    if e in (1, 10,17) : 
        print(maliste)
        print(len(maliste))'''
        
    if len(maliste) > 1 : 
        #Faire l'union des schémas énumérés
        pass
    #if len(maliste) == 1 and current_iso3 not in ('ALB', 'AND', 'AUT', 'BEL', 'BGR', 'BIH') :
    #if len(maliste) == 1 and current_iso3 in ( 'GRC',  'SRB', 'ISR', 'LBN', 'LBY'):
    #and current_iso3 in ( 'FRA', 'ITA')
    if len(maliste) == 1 :

        #BLR CHE CYP CZE DNK ESP EST FIN FRA SWE 
        current_schema = maliste[0]
        
        print("----------------------------------- : {0} / {1}".format(current_iso3, current_schema))
        conn = getConnection()
        cur = conn.cursor()
        cur.execute("drop view public.osm_point")
        cur.execute("drop view public.osm_polygon")
        cur.execute(vue_point_simple.format(current_schema))    
        cur.execute(vue_polygon_simple.format(current_schema))    
        conn.commit()
        for req in requetes:
            query = req.strip().format(current_iso3, current_iso3)
            if (len(query)> 0) : 
                #print(query)
                cur.execute(query)
        conn.commit()
        conn.close()
        
# 20 min pour les faire tous
        #'FRA', 'ITA',
        #32s + 7 min 46

----------------------------------- : ALB / albania
open_connection Got database connexion : 10
----------------------------------- : AND / andorra
open_connection Got database connexion : 10
----------------------------------- : AUT / austria
open_connection Got database connexion : 10
----------------------------------- : BEL / belgium
open_connection Got database connexion : 10
----------------------------------- : BGR / bulgaria
open_connection Got database connexion : 10
----------------------------------- : BIH / bosnie
open_connection Got database connexion : 10
----------------------------------- : BLR / belarus
open_connection Got database connexion : 10
----------------------------------- : CHE / switzerland
open_connection Got database connexion : 10
----------------------------------- : CYP / cyprus
open_connection Got database connexion : 10
----------------------------------- : CZE / czech_republic
open_connection Got database connexion : 10
----------------------------------- : DNK / denmark
open_connection Got database connexion : 10
----------------------------------- : ESP / spain
open_connection Got database connexion : 10
----------------------------------- : EST / estonia
open_connection Got database connexion : 10
----------------------------------- : FIN / finland
open_connection Got database connexion : 10
----------------------------------- : FRA / france
open_connection Got database connexion : 10
----------------------------------- : FRO / faroe_islands
open_connection Got database connexion : 10
----------------------------------- : GEO / georgia
open_connection Got database connexion : 10
----------------------------------- : GRC / greece
open_connection Got database connexion : 10
----------------------------------- : HRV / croatia
open_connection Got database connexion : 10
----------------------------------- : HUN / hungary
open_connection Got database connexion : 10
----------------------------------- : IRL / ireland_and_northern_ireland
open_connection Got database connexion : 10
----------------------------------- : ISL / iceland
open_connection Got database connexion : 10
----------------------------------- : ITA / italy
open_connection Got database connexion : 10
----------------------------------- : LIE / liechtenstein
open_connection Got database connexion : 10
----------------------------------- : LTU / lithuania
open_connection Got database connexion : 10
----------------------------------- : LUX / luxembourg
open_connection Got database connexion : 10
----------------------------------- : LVA / latvia
open_connection Got database connexion : 10
----------------------------------- : MCO / monaco
open_connection Got database connexion : 10
----------------------------------- : MDA / moldova
open_connection Got database connexion : 10
----------------------------------- : MKD / macedonia
open_connection Got database connexion : 10
----------------------------------- : MLT / malta
open_connection Got database connexion : 10
----------------------------------- : MNE / montenegro
open_connection Got database connexion : 10
----------------------------------- : NLD / netherlands
open_connection Got database connexion : 10
----------------------------------- : NOR / norway
open_connection Got database connexion : 10
----------------------------------- : POL / poland
open_connection Got database connexion : 10
----------------------------------- : ROU / romania
open_connection Got database connexion : 10
----------------------------------- : SRB / serbia
open_connection Got database connexion : 10
----------------------------------- : SVK / slovakia
open_connection Got database connexion : 10
----------------------------------- : SVN / slovenia
open_connection Got database connexion : 10
----------------------------------- : SWE / sweden
open_connection Got database connexion : 10
----------------------------------- : TUR / turkey
open_connection Got database connexion : 10
----------------------------------- : UKR / ukraine
open_connection Got database connexion : 10
----------------------------------- : UNK / kosovo
open_connection Got database connexion : 10

### Cas particulier de l'Allemagne (importée par landers), du portugal (avec les açores), de la Grande-Bretagne, des DOM de France et des Canaries (séparées de l'Espagne)

![
    Quelques vues ne sont pas standards, elles sont été calculées dans un script SQL
](vues_osm.PNG)

In [10]:
table = osmsources.groupby(by="code_iso3").agg({'Nom_schema': ','.join}).reset_index()
#osmsources.groupby(by="code_iso3").agg(['count', {'Nom_schema': ','.join}])
table #code_iso3 et Nom_schema comme colonnes

for e in table.index:
    #print(e)
    current_iso3 = table.iloc[e]['code_iso3']
    maliste = table.iloc[e]['Nom_schema']
    maliste = maliste.replace('-', '_')
    maliste = maliste.replace('\'', '')
    maliste = maliste.split(',')
    '''
    if e in (1, 10,17) : 
        print(maliste)
        print(len(maliste))'''
        
    if len(maliste) > 1 : 
        #Faire l'union des schémas énumérés (uk, germany, portugal)
        conn = getConnection()
        cur = conn.cursor()
        if current_iso3 == 'GBR':
            print("----------------------------------- : {0} / {1}".format(current_iso3, 'royaume uni de grande-bretagne'))
            for req in requetes:
                req = req.replace('public.osm_point ', 'public.osm_point_uk ')
                req = req.replace('public.osm_polygon ', 'public.osm_polygon_uk ')
                query = req.strip().format(current_iso3, current_iso3)
                if (len(query)> 0) : 
                    print(query)
                    cur.execute(query)
        if current_iso3 == 'DEU':
            print("----------------------------------- : {0} / {1}".format(current_iso3, 'germany'))
            for req in requetes:
                req = req.replace('public.osm_point ', 'public.osm_point_germany ')
                req = req.replace('public.osm_polygon ', 'public.osm_polygon_germany ')
                query = req.strip().format(current_iso3, current_iso3)
                if (len(query)> 0) : 
                    print(query)
                    cur.execute(query)
        if current_iso3 == 'PRT':
            print("----------------------------------- : {0} / {1}".format(current_iso3, 'portugal'))
            for req in requetes:
                req = req.replace('public.osm_point ', 'public.osm_point_portugal ')
                req = req.replace('public.osm_polygon ', 'public.osm_polygon_portugal ')
                query = req.strip().format(current_iso3, current_iso3)
                if (len(query)> 0) : 
                    print(query)
                    cur.execute(query)
        
        conn.commit()
        conn.close()

#6min

open_connection Got database connexion : 10
----------------------------------- : DEU / germany
-----------------------------------------------------------------------------------------------------------------
-- Auteur : Christine PLUMEJEAUD-PERREAU, UMR 7301 Migrinter
-- Date : 27/02/2025
-- Projet : thÃ¨se de Louis Fernier
-- MISE Ã  jour des distance aux amÃ©nitÃ©s OSM, arrondies au mÃ¨tre
-- DÃ©rive de distances_OSM_sql.txt
-- Agit sur camps 8 SANS restriction sur la liste des camps mis Ã  jour
-----------------------------------------------------------------------------------------------------------------



update camps.camps8  c set ecole_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college') ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college')) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set poste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office') ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office')) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set avocat_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (office = 'lawyer' ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (office = 'lawyer') and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set dentiste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity in ('dentist') ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity in ('dentist') ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set atm_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity='atm') and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity='atm' ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set hopital_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity in ('hospital', 'clinic') or building in ('hospital', 'clinic')) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity in ('hospital', 'clinic') or building in ('hospital', 'clinic')) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set pharmacie_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity in ('pharmacy') or shop in ('chemist', 'medical_supply')) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity in ('pharmacy') or shop in ('chemist', 'medical_supply')) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set arret_bus_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity in ('bus_station') or highway='bus_stop' or public_transport='platform' or  railway='platform') and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity in ('bus_station') or highway='bus_stop' or public_transport='platform' or  railway='platform') and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set gare_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (railway='station' or railway='halt' or building='train_station' or  public_transport='station' ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (railway='station' or railway='halt' or building='train_station' or  public_transport='station' ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set medecin_clinique_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity in ('clinic', 'doctors') or building in ('clinic', 'healthcare')) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity in ('clinic', 'doctors') or building in ('clinic', 'healthcare')) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set mairie_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_germany osm , camps.camps8  c
	where (amenity='townhall' or building = 'townhall') and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_germany osm , camps.camps8  c
	where (amenity='townhall' or building = 'townhall' ) and c.iso3 in ('DEU') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
open_connection Got database connexion : 10
----------------------------------- : GBR / royaume uni de grande-bretagne
-----------------------------------------------------------------------------------------------------------------
-- Auteur : Christine PLUMEJEAUD-PERREAU, UMR 7301 Migrinter
-- Date : 27/02/2025
-- Projet : thÃ¨se de Louis Fernier
-- MISE Ã  jour des distance aux amÃ©nitÃ©s OSM, arrondies au mÃ¨tre
-- DÃ©rive de distances_OSM_sql.txt
-- Agit sur camps 8 SANS restriction sur la liste des camps mis Ã  jour
-----------------------------------------------------------------------------------------------------------------



update camps.camps8  c set ecole_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college') ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college')) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set poste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office') ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office')) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set avocat_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (office = 'lawyer' ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (office = 'lawyer') and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set dentiste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity in ('dentist') ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity in ('dentist') ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set atm_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity='atm') and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity='atm' ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set hopital_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity in ('hospital', 'clinic') or building in ('hospital', 'clinic')) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity in ('hospital', 'clinic') or building in ('hospital', 'clinic')) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set pharmacie_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity in ('pharmacy') or shop in ('chemist', 'medical_supply')) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity in ('pharmacy') or shop in ('chemist', 'medical_supply')) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set arret_bus_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity in ('bus_station') or highway='bus_stop' or public_transport='platform' or  railway='platform') and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity in ('bus_station') or highway='bus_stop' or public_transport='platform' or  railway='platform') and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set gare_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (railway='station' or railway='halt' or building='train_station' or  public_transport='station' ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (railway='station' or railway='halt' or building='train_station' or  public_transport='station' ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set medecin_clinique_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity in ('clinic', 'doctors') or building in ('clinic', 'healthcare')) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity in ('clinic', 'doctors') or building in ('clinic', 'healthcare')) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set mairie_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_uk osm , camps.camps8  c
	where (amenity='townhall' or building = 'townhall') and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_uk osm , camps.camps8  c
	where (amenity='townhall' or building = 'townhall' ) and c.iso3 in ('GBR') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
open_connection Got database connexion : 10
----------------------------------- : PRT / portugal
-----------------------------------------------------------------------------------------------------------------
-- Auteur : Christine PLUMEJEAUD-PERREAU, UMR 7301 Migrinter
-- Date : 27/02/2025
-- Projet : thÃ¨se de Louis Fernier
-- MISE Ã  jour des distance aux amÃ©nitÃ©s OSM, arrondies au mÃ¨tre
-- DÃ©rive de distances_OSM_sql.txt
-- Agit sur camps 8 SANS restriction sur la liste des camps mis Ã  jour
-----------------------------------------------------------------------------------------------------------------



update camps.camps8  c set ecole_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_portugal osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college') ) and c.iso3 in ('PRT') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_portugal osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college')) and c.iso3 in ('PRT') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set poste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_portugal osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office') ) and c.iso3 in ('PRT') and c.point3857 is not null
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_portugal osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office')) and c.iso3 in ('PRT') and c.point3857 is not null
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id
update camps.camps8  c set avocat_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (

In [ ]:
# Traitement à part de  germany (bug d'import initial)
conn = getConnection()
cur = conn.cursor()
current_iso3 = 'DEU'
print("----------------------------------- : {0} / {1}".format(current_iso3, 'germany'))
for req in requetes:
    req = req.replace('public.osm_point ', 'public.osm_point_germany ')
    req = req.replace('public.osm_polygon ', 'public.osm_polygon_germany ')
    query = req.strip().format(current_iso3, current_iso3)
    if (len(query)> 0) : 
        print(query)
        cur.execute(query)
conn.commit()
conn.close()

### Régler l'import des données DOM-TOM de France et des Canaries en Espagne pour refaire les calculs sur ces camps (listés) par unique_id

- liste des distances OSM à refaire antilles françaises (FRA)
  
`unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')`

- liste des distances OSM à refaire canaries espagnoles (ESP)

`unique_id in ('451','741','597','453','457','743','452')`

#### Import des schémas OSM correspondants

In [ ]:
import datetime
import subprocess

#for e in liste_pays:
#    print(e)
liste_pays  = ['guadeloupe', 'guyanne', 'martinique', 'mayotte', 'reunion']
#liste_pays  = ['ceuta', 'melilla'] #OK
liste_pays  = ['canary-islands']
#https://download.geofabrik.de/europe/spain/ceuta-latest.osm.pbf
#https://download.geofabrik.de/europe/spain/melilla-latest.osm.pbf
#http://download.geofabrik.de/africa/canary-islands-latest.osm.pbf

for pays in liste_pays:
    #pays = liste_pays[0]
    print(pays)

    #Importer les données OSM
    param = '-P /data/osm/ https://download.geofabrik.de/europe/france/{0}-latest.osm.pbf'
    return_code = subprocess.call(["wget", param.format(pays)]) 
    print('calling download of {0} at {1}'.format(pays, datetime.datetime.now().isoformat()))
    print(param)

    param = '-d osm -U postgres -c -s --drop  /data/osm/{0}-latest.osm.pbf'
    #postgresql://postgres:password@localhost:8001/osm
    print('calling insert into DB of {0} at {1}'.format(pays, datetime.datetime.now().isoformat()))
    print(param)

    return_code = subprocess.call(["osm2pgsql", param.format(pays)]) 


    print('end of insert into DB of {0} at {1}'.format(pays, datetime.datetime.now().isoformat()))
    print(return_code)

    #Déplacer dans un schéma du nom du pays les données OSM

    sql_query1 = 'create schema {0} '
    sql_query2 = 'alter table planet_osm_point set schema {0}'
    sql_query3 = 'alter table planet_osm_line set schema {0}'
    sql_query4 = 'alter table planet_osm_polygon set schema {0}'
    sql_query5 = 'alter table planet_osm_roads set schema {0}'

    conn = getConnection()
    cur = conn.cursor()
    cur.execute(sql_query1.format(pays))    
    cur.execute(sql_query2.format(pays))    
    cur.execute(sql_query3.format(pays))    
    cur.execute(sql_query4.format(pays))    
    cur.execute(sql_query5.format(pays))    

    conn.commit()

    conn.close()

#### calcul des distances mais pour un sous-ensemble déterminé de unique_id

In [11]:
f = open('distances_OSM_sql_v3.txt')
# Read the contents of the file into a variable
texte = f.read()
requetes = texte.split(';')
print(requetes[0])
# Don't forget to close the file again
f.close()

-----------------------------------------------------------------------------------------------------------------
-- Auteur : Christine PLUMEJEAUD-PERREAU, UMR 7301 Migrinter
-- Date : 28/02/2025
-- Projet : thÃ¨se de Louis Fernier
-- MISE Ã  jour des distance aux amÃ©nitÃ©s OSM, arrondies au mÃ¨tre
-- DÃ©rive de distances_OSM_sql_v2.txt qui dÃ©rive de distances_OSM_sql.txt
-- Agit sur camps 8 AVEC restriction sur la liste des camps mis Ã  jour
-----------------------------------------------------------------------------------------------------------------

update camps.camps8  c set ecole_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college') ) and c.iso3 in ('{0}') and c.point3857 is not null
    and unique_id in ({2})
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college')) and c.iso3 in ('{1}') and c.point3857 is not null
	and unique_id in ({2})
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ({2})

In [12]:
# Traitement à part des canaries
conn = getConnection()
cur = conn.cursor()
current_iso3 = 'ESP'
list_camps = "'451','741','597','453','457','743','452'"
print("----------------------------------- : {0} / {1}".format(current_iso3, 'germany'))
for req in requetes:
    req = req.replace('public.osm_point ', 'public.osm_point_canary ')
    req = req.replace('public.osm_polygon ', 'public.osm_polygon_canary ')
    query = req.strip().format(current_iso3, current_iso3, list_camps)
    if (len(query)> 0) : 
        print(query)
        cur.execute(query)
conn.commit()
conn.close()

open_connection Got database connexion : 10
----------------------------------- : ESP / germany
-----------------------------------------------------------------------------------------------------------------
-- Auteur : Christine PLUMEJEAUD-PERREAU, UMR 7301 Migrinter
-- Date : 28/02/2025
-- Projet : thÃ¨se de Louis Fernier
-- MISE Ã  jour des distance aux amÃ©nitÃ©s OSM, arrondies au mÃ¨tre
-- DÃ©rive de distances_OSM_sql_v2.txt qui dÃ©rive de distances_OSM_sql.txt
-- Agit sur camps 8 AVEC restriction sur la liste des camps mis Ã  jour
-----------------------------------------------------------------------------------------------------------------

update camps.camps8  c set ecole_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college') ) and c.iso3 in ('ESP') and c.point3857 is not null
    and unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college')) and c.iso3 in ('ESP') and c.point3857 is not null
	and unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set poste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office') ) and c.iso3 in ('ESP') and c.point3857 is not null
    and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office')) and c.iso3 in ('ESP') and c.point3857 is not null
    and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set avocat_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (office = 'lawyer' ) and c.iso3 in ('ESP') and c.point3857 is not null and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (office = 'lawyer') and c.iso3 in ('ESP') and c.point3857 is not null and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set dentiste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity in ('dentist') ) and c.iso3 in ('ESP') and c.point3857 is not null and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity in ('dentist') ) and c.iso3 in ('ESP') and c.point3857 is not null and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set atm_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity='atm') and c.iso3 in ('ESP') and c.point3857 is not null and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity='atm' ) and c.iso3 in ('ESP') and c.point3857 is not null and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id and c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set hopital_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity in ('hospital', 'clinic') or building in ('hospital', 'clinic')) and c.iso3 in ('ESP') and c.point3857 is not null
    and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity in ('hospital', 'clinic') or building in ('hospital', 'clinic')) and c.iso3 in ('ESP') and c.point3857 is not null
    and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set pharmacie_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity in ('pharmacy') or shop in ('chemist', 'medical_supply')) and c.iso3 in ('ESP') and c.point3857 is not null
    and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity in ('pharmacy') or shop in ('chemist', 'medical_supply')) and c.iso3 in ('ESP') and c.point3857 is not null
    and  unique_id in ('451','741','597','453','457','743','452')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set arret_bus_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity in ('bus_station') or highway='bus_stop' or public_transport='platform' or  railway='platform') and c.iso3 in ('ESP') and c.point3857 is not null
	and  unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity in ('bus_station') or highway='bus_stop' or public_transport='platform' or  railway='platform') and c.iso3 in ('ESP') and c.point3857 is not null
	and  unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set gare_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (railway='station' or railway='halt' or building='train_station' or  public_transport='station' ) and c.iso3 in ('ESP') and c.point3857 is not null
	and  unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (railway='station' or railway='halt' or building='train_station' or  public_transport='station' ) and c.iso3 in ('ESP') and c.point3857 is not null
	and  unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set medecin_clinique_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity in ('clinic', 'doctors') or building in ('clinic', 'healthcare')) and c.iso3 in ('ESP') and c.point3857 is not null
	and  unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity in ('clinic', 'doctors') or building in ('clinic', 'healthcare')) and c.iso3 in ('ESP') and c.point3857 is not null
	and  unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('451','741','597','453','457','743','452')
update camps.camps8  c set mairie_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_canary osm , camps.camps8  c
	where (amenity='townhall' or building = 'townhall') and c.iso3 in ('ESP') and c.point3857 is not null
	and  unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_canary osm , camps.camps8  c
	where (amenity='townhall' or building = 'townhall' ) and c.iso3 in ('ESP') and c.point3857 is not null
	and  unique_id in ('451','741','597','453','457','743','452')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('451','741','597','453','457','743','452')

In [13]:
# Traitement à part des dom_france
conn = getConnection()
cur = conn.cursor()
current_iso3 = 'FRA'
list_camps = "'196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207'"
print("----------------------------------- : {0} / {1}".format(current_iso3, 'dom_france'))
for req in requetes:
    req = req.replace('public.osm_point ', 'public.osm_point_dom_france ')
    req = req.replace('public.osm_polygon ', 'public.osm_polygon_dom_france ')
    query = req.strip().format(current_iso3, current_iso3, list_camps)
    if (len(query)> 0) : 
        print(query)
        cur.execute(query)
conn.commit()
conn.close()

open_connection Got database connexion : 10
----------------------------------- : FRA / dom_france
-----------------------------------------------------------------------------------------------------------------
-- Auteur : Christine PLUMEJEAUD-PERREAU, UMR 7301 Migrinter
-- Date : 28/02/2025
-- Projet : thÃ¨se de Louis Fernier
-- MISE Ã  jour des distance aux amÃ©nitÃ©s OSM, arrondies au mÃ¨tre
-- DÃ©rive de distances_OSM_sql_v2.txt qui dÃ©rive de distances_OSM_sql.txt
-- Agit sur camps 8 AVEC restriction sur la liste des camps mis Ã  jour
-----------------------------------------------------------------------------------------------------------------

update camps.camps8  c set ecole_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college') ) and c.iso3 in ('FRA') and c.point3857 is not null
    and unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity in ('school', 'college') or building in ('school', 'college')) and c.iso3 in ('FRA') and c.point3857 is not null
	and unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set poste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office') ) and c.iso3 in ('FRA') and c.point3857 is not null
    and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity in ('post_box', 'post_office')) and c.iso3 in ('FRA') and c.point3857 is not null
    and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set avocat_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (office = 'lawyer' ) and c.iso3 in ('FRA') and c.point3857 is not null and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (office = 'lawyer') and c.iso3 in ('FRA') and c.point3857 is not null and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set dentiste_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity in ('dentist') ) and c.iso3 in ('FRA') and c.point3857 is not null and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity in ('dentist') ) and c.iso3 in ('FRA') and c.point3857 is not null and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set atm_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity='atm') and c.iso3 in ('FRA') and c.point3857 is not null and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity='atm' ) and c.iso3 in ('FRA') and c.point3857 is not null and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id and c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set hopital_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity in ('hospital', 'clinic') or building in ('hospital', 'clinic')) and c.iso3 in ('FRA') and c.point3857 is not null
    and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity in ('hospital', 'clinic') or building in ('hospital', 'clinic')) and c.iso3 in ('FRA') and c.point3857 is not null
    and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set pharmacie_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity in ('pharmacy') or shop in ('chemist', 'medical_supply')) and c.iso3 in ('FRA') and c.point3857 is not null
    and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity in ('pharmacy') or shop in ('chemist', 'medical_supply')) and c.iso3 in ('FRA') and c.point3857 is not null
    and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
	group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set arret_bus_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity in ('bus_station') or highway='bus_stop' or public_transport='platform' or  railway='platform') and c.iso3 in ('FRA') and c.point3857 is not null
	and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity in ('bus_station') or highway='bus_stop' or public_transport='platform' or  railway='platform') and c.iso3 in ('FRA') and c.point3857 is not null
	and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set gare_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (railway='station' or railway='halt' or building='train_station' or  public_transport='station' ) and c.iso3 in ('FRA') and c.point3857 is not null
	and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (railway='station' or railway='halt' or building='train_station' or  public_transport='station' ) and c.iso3 in ('FRA') and c.point3857 is not null
	and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set medecin_clinique_hors_camp_distance_km = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity in ('clinic', 'doctors') or building in ('clinic', 'healthcare')) and c.iso3 in ('FRA') and c.point3857 is not null
	and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity in ('clinic', 'doctors') or building in ('clinic', 'healthcare')) and c.iso3 in ('FRA') and c.point3857 is not null
	and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
update camps.camps8  c set mairie_distance = round((dkm/ 1000.0)::numeric, 3)
from (
	select unique_id , min(dkm) as dkm from (
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'point'
	from public.osm_point_dom_france osm , camps.camps8  c
	where (amenity='townhall' or building = 'townhall') and c.iso3 in ('FRA') and c.point3857 is not null
	and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	union
	(
	select c.unique_id , min(st_distance(osm.way, c.point3857)) as dkm, 'polygon'
	from public.osm_polygon_dom_france osm , camps.camps8  c
	where (amenity='townhall' or building = 'townhall' ) and c.iso3 in ('FRA') and c.point3857 is not null
	and  unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')
    group by c.unique_id
	)
	) as u
	group by unique_id
) as k
where k.unique_id = c.unique_id  and  c.unique_id in ('196','197','198','201','202','116','214','203','115','102','193','208','206','195','194','210','191','192','207')

2025-02-28 11:24:27,530| ERROR   | Socket exception: Une connexion existante a dû être fermée par l’hôte distant (10054)
2025-02-28 12:56:47,508| ERROR   | Could not establish connection from local ('127.0.0.1', 8001) to remote ('127.0.0.1', 5432) side of the tunnel: open new channel ssh error: SSH session not active

# Rajout des coordonnées des camps qui ont été retrouvées

C:\Travail\MIGRINTER\Labo\Louis_Fernier\Analyse_camp_Nov2024\2024_09_27_camps_coordonnées_retrouvées.xlsx

In [ ]:
f = open('updateCamps_sql.txt')
# Read the contents of the file into a variable
texte = f.read()
requetes01 = texte.split(';')
print(requetes01[0])
# Don't forget to close the file again
f.close()

In [ ]:
camps_retrouves  = pd.read_excel(open('2024_09_27_camps_coordonnées_retrouvées.xlsx', 'rb'), sheet_name='camps_coordonnées_retrouvées')  
liste_camps  = camps_retrouves.unique_id
#camp_latitude	camp_longitude
camps_retrouves.sort_values(by=['iso3'], inplace=True)

conn = getConnection()
cur = conn.cursor()

for e in camps_retrouves.index:
    #print(e)
    query = "update camps.camps6 set camp_latitude = {0}, camp_longitude = {1} where unique_id = {2} ".format(camps_retrouves.iloc[e]['camp_latitude'], camps_retrouves.iloc[e]['camp_longitude'], camps_retrouves.iloc[e]['unique_id'])
    print(query)
    cur.execute(query)
    conn.commit()
conn.close()
    


#camps_retrouves.camp_latitude

In [ ]:
#camps_retrouves.unique_id.map('I am a {}'.format)
liste_unique_id = camps_retrouves.unique_id.to_list()
#print(','.join([str(x) for x in liste_unique_id]))
liste_unique_id = ','.join([str(x) for x in liste_unique_id])
print(liste_unique_id)

In [ ]:
liste_unique_id = camps_retrouves.unique_id.to_list()
liste_unique_id = ','.join([str(x) for x in liste_unique_id])
print(liste_unique_id)

# Traitement à part de  germany (bug d'import initial)
conn = getConnection()
cur = conn.cursor()

for req in requetes01:
    query = req.strip().format(liste_unique_id)
    if (len(query)> 0) : 
        print(query)
        cur.execute(query)
        conn.commit()
conn.close()

## Revoir qui sont les camps renseigné avec une ville_proche : 
- ville_proche_nom 
- ville_proche_code postal 
- ville_proche_population

In [ ]:
data  = pd.read_excel(open('2024_09_26-LFernier_Carto_BDD_jointure_CLC_et_analyses.xlsx', 'rb'), sheet_name='BDD_camps')  

data.shape

In [ ]:
data.query("iso3 in ('BIH', 'MNE', 'UNK', 'SRB', 'MKD', 'ALB') and unique_id==598")[['iso3', 'ville_proche_nom', 'ville_proche_population']]

In [ ]:
data.query("iso3 in ('BIH', 'MNE', 'UNK', 'SRB', 'MKD', 'ALB', 'DNK') and not ville_proche_nom.isnull() ")[['unique_id','iso3', 'ville_proche_nom', 'ville_proche_population', 'ville_proche_code postal',  'distance_ville_proche']]

# Corriger l'arrondi de toutes les distances calculées : au mètre près. 

Exécution sur la base camps8 du script updateCamps8_sql.txt

`psql -U postgres -d camps_europe -f updateCamps8_sql.txt`

# Simuler des camps à une même distance de la ville

On utilise la table simulation_camps qui contient les camps (tous ceux retenus pour l'analyse) avec leur caractéristiques en terme CLC. 

On va rajouter des lignes, une 8 aine pour chaque camps, ayant la même distance au centre de la ville, et pas dans l'eau et restant dans le même pays. Pour vérifier sous R ensuite qu'il n'y a pas une tendance disproportionnée à mettre les camps proches de zones peu accueillantes (mines, zones_humides, zi_zac). 

Voir la documentation de Posgis : https://postgis.net/docs/ST_Rotate.html

In [61]:
# query = """SELECT unique_id, iso3, ST_AsEWKT(ST_Project(st_transform(centrecore, 4326)::geography, distance_ville_proche * 1000, random() * radians(360))::geometry)
# from simulation_camps 
# where centrecore is not null;"""
# 
#+ radians({0}+180*random())

query = """SELECT unique_id, iso3, ST_AsEWKT(ST_Rotate(geom,  radians(random()*360), st_transform(centrecore, 4326))), {0}
from simulation_camps 
where centrecore is not null and statut_camp = 'vrai' 
and unique_id in (
	select parent_id 
	from simulation_camps
	group by parent_id
	having count(unique_id) < 9
);"""

query2 = """insert into simulation_camps (statut_camp, unique_id, parent_id, geom)
select 'sim', {0} , {1}, ST_GeomFromEWKT('{2}') 
from demographie.ne_10m_admin_0_countries
where adm0_a3 = '{3}' and st_contains(wkb_geometry, ST_GeomFromEWKT('{2}')) is true ;""" 

essai = 0 #Itération de l'algo

conn = getConnection()
cur = conn.cursor()

print(query.format(essai))
cur.execute(query.format(essai))
result = cur.fetchall()
nvxPoints = len(result)

progression = [] #Nombre de points insérés à chaque itération
progression.append(nvxPoints)

while len(result) > 0 and nvxPoints > 0: 
    print('----------------------------Essai : {0}, Nombre de nouveaux points {1}'.format(essai, len(result)))
    for i in range(0, len(result)):
        print(str(result[i][0]))
        #print(str(result[i][2]))
        # unique_id, parent_id, geom, iso3
        req = query2.format(result[i][0]+ 1000000 * (essai+1), result[i][0], result[i][2], result[i][1])
        #print(req)
        cur.execute(req)
        conn.commit()
    # On progresse : on teste d'autres points.
    essai = essai + 1 
    print(query.format(essai))
    cur.execute(query.format(essai))
    result = cur.fetchall()
    nvxPoints = len(result)
    progression.append(nvxPoints)
    print('----------------------------Progression : {} - {}'.format(progression[essai-1], progression[essai]))
    if (progression[essai-1] == progression[essai] and essai >= 8) :
        #Sortir de la boucle
        nvxPoints = 0
        

conn.close()

open_connection Got database connexion : 6
SELECT unique_id, iso3, ST_AsEWKT(ST_Rotate(geom,  radians(random()*360), st_transform(centrecore, 4326))), 0
from simulation_camps
where centrecore is not null and statut_camp = 'vrai'
and unique_id in (
	select parent_id
	from simulation_camps
	group by parent_id
	having count(unique_id) < 9
);
----------------------------Essai : 0, Nombre de nouveaux points 943
19
20
8
1083
1128
1100
10
1065
28
1066
1085
1432
1162
1073
1092
1104
1125
1126
1098
1093
1137
1136
851
487
570
11
4
1109
1144
1147
1097
1115
1116
1117
1118
1143
1145
1141
22
1068
1079
1096
1119
6
1077
1112
1072
673
1094
1122
759
70
775
665
767
770
832
43
831
80
1069
1508
1507
769
93
678
765
766
768
1253
1254
1067
33
1075
1081
1349
1227
1309
1311
1312
1339
1340
27
1091
1082
1080
1074
1076
1078
1089
1130
1101
1509
1184
1182
1174
1173
1169
1233
1234
1235
1088
1124
1140
1103
1121
1262
1201
1401
1305
1170
1210
1211
1220
1221
1222
1129
1127
1131
1133
1319
1394
1396
1344
1139
1120
1108
1105
1099
1086
1123
1084
1110
1138
1111
1132
1090
1071
1070
1307
1329
1331
1332
1157
1159
1161
1207
1209
1106
1087
1095
1107
1142
1152
1381
1382
1499
1232
1288
1343
1350
1359
1357
1365
1102
1114
1303
1348
1434
1390
1158
1433
1436
29
44
830
37
42
45
677
87
88
771
1215
1477
1478
1495
1496
1544
1148
1150
1032
762
95
135
1204
1474
1267
1176
1400
1171
1504
1387
1371
1373
185
1362
1213
1330
1502
1516
1524
1391
212
1378
1383
1482
1306
1539
1163
1164
1542
1377
127
1395
1403
1379
1471
1389
1446
136
1460
1440
1468
186
1414
1404
1431
1429
1420
1352
1479
1473
1469
1472
1517
1229
1223
1484
1336
1334
1271
1178
1177
1175
1258
1492
1447
1448
1205
1219
1487
1486
1485
1181
1406
1489
1192
1246
1247
1248
1462
1217
1533
1226
1483
1218
1293
1294
1308
1310
1368
1370
1230
1239
791
1187
1423
1190
1195
1203
1200
1199
1198
1197
1194
164
1196
1191
1189
1188
1202
106
1261
1259
123
1251
141
1241
1240
1302
1286
1285
1292
214
1287
1535
1296
1295
1276
1281
1277
1275
101
1283
1282
1279
100
1266
1265
777
1264
1270
1269
1268
1338
1342
1333
125
1328
1316
1313
1314
1372
1366
1515
1364
1361
118
110
1376
1355
1346
684
315
314
659
654
1552
652
645
1356
1399
1392
166
1490
1491
1526
1393
854
637
291
252
634
312
658
640
661
1345
1384
1443
1441
1461
1457
837
852
346
843
849
856
841
853
855
350
844
694
862
354
370
376
621
1458
1439
1438
1437
1445
1424
1425
1411
1408
1410
1409
1407
901
929
900
916
1017
1428
1427
1488
1419
1521
1412
1421
1481
1480
1467
1527
1531
1300
1529
883
393
774
927
949
399
911
939
959
983
996
1244
1455
981
979
1007
882
915
928
948
1016
1341
1456
1426
1459
1354
1325
1466
1470
1005
950
955
956
1224
1511
1167
1166
1165
1297
1523
1501
1214
1212
1206
1231
128
1255
1450
408
710
709
413
410
1451
1274
1273
1272
1452
1453
1280
1278
1416
1417
1418
1454
1415
1522
728
438
437
412
446
436
731
443
726
1397
1463
1534
1322
1321
1320
1038
461
1047
1051
748
460
129
1375
1324
1326
1323
1327
1374
1360
1402
1498
1497
1048
1046
1039
751
505
1503
198
124
1422
1228
1413
144
1243
1242
126
1301
1179
1151
14
21
5
3
15
1785
469
470
474
486
496
944
108
120
149
1520
1036
1149
1464
1465
1512
1476
1537
1513
1180
1536
1380
1525
1528
1156
130
1514
163
1519
1518
1532
142
1245
1543
1252
1510
1475
191
1298
689
776
808
811
787
781
780
685
237
819
816
248
810
794
778
680
805
789
796
229
812
690
687
792
788
245
807
249
795
817
241
814
825
823
688
236
785
803
790
806
818
800
801
779
228
782
826
786
242
802
784
799
804
244
793
821
824
798
809
594
682
686
813
251
238
232
820
649
655
272
642
646
632
691
639
656
635
643
266
263
647
311
828
325
329
343
857
347
840
842
836
835
345
839
834
342
344
349
351
858
371
362
367
363
365
374
375
623
378
385
698
697
382
864
700
699
967
964
965
963
910
914
889
934
899
977
881
1000
891
988
989
990
869
968
962
912
924
951
1001
1002
960
961
892
879
875
874
945
867
920
921
923
958
957
1013
396
971
972
973
974
975
870
872
873
997
942
933
946
897
894
941
966
1010
953
952
994
936
395
930
925
390
404
938
1009
893
986
887
895
947
903
1012
402
1019
1018
935
905
1006
987
976
886
954
907
969
906
888
991
931
866
908
919
878
922
984
407
706
409
415
416
1020
1021
1022
727
729
425
426
428
730
427
1797
1024
445
1029
448
458
454
1028
457
1027
449
740
739
1030
453
464
1037
463
749
502
507
1042
489
497
1044
475
499
498
1794
501
473
746
471
481
482
1043
477
758
566
564
568
575
576
562
492
485
503
750
1041
650
660
1249
1250
262
261
253
467
1045
484
747
480
495
1050
493
479
596
833
82
81
797
822
783
683
139
1260
1284
1168
1299
1317
1318
1337
1225
584
633
586
307
1153
1154
1155
1172
1208
1236
1335
1500
1538
1541
1238
1304
1430
1257
1351
1442
1185
1186
1405
1505
1506
693
331
845
847
850
478
1353
96
674
1449
1256
1358
203
863
1135
1134
SELECT unique_id, iso3, ST_AsEWKT(ST_Rotate(geom,  radians(random()*360), st_transform(centrecore, 4326))), 1
from simulation_camps
where centrecore is not null and statut_camp = 'vrai'
and unique_id in (
	select parent_id
	from simulation_camps
	group by parent_id
	having count(unique_id) < 9
);
----------------------------Progression : 943 - 943
----------------------------Essai : 1, Nombre de nouveaux points 943
19
20
8
1083
1128
1100
10
1065
28
1066
1085
1432
1162
1073
1092
1104
1125
1126
1098
1093
1137
1136
851
487
570
11
4
1109
1144
1147
1097
1115
1116
1117
1118
1143
1145
1141
22
1068
1079
1096
1119
6
1077
1112
1072
673
1094
1122
759
70
775
665
767
770
832
43
831
80
1069
1508
1507
769
93
678
765
766
768
1253
1254
1067
33
1075
1081
1349
1227
1309
1311
1312
1339
1340
27
1091
1082
1080
1074
1076
1078
1089
1130
1101
1509
1184
1182
1174
1173
1169
1233
1234
1235
1088
1124
1140
1103
1121
1262
1201
1401
1305
1170
1210
1211
1220
1221
1222
1129
1127
1131
1133
1319
1394
1396
1344
1139
1120
1108
1105
1099
1086
1123
1084
1110
1138
1111
1132
1090
1071
1070
1307
1329
1331
1332
1157
1159
1161
1207
1209
1106
1087
1095
1107
1142
1152
1381
1382
1499
1232
1288
1343
1350
1359
1357
1365
1102
1114
1303
1348
1434
1390
1158
1433
1436
29
44
830
37
42
45
677
87
88
771
1215
1477
1478
1495
1496
1544
1148
1150
1032
762
95
135
1204
1474
1267
1176
1400
1171
1504
1387
1371
1373
185
1362
1213
1330
1502
1516
1524
1391
212
1378
1383
1482
1306
1539
1163
1164
1542
1377
127
1395
1403
1379
1471
1389
1446
136
1460
1440
1468
186
1414
1404
1431
1429
1420
1352
1479
1473
1469
1472
1517
1229
1223
1484
1336
1334
1271
1178
1177
1175
1258
1492
1447
1448
1205
1219
1487
1486
1485
1181
1406
1489
1192
1246
1247
1248
1462
1217
1533
1226
1483
1218
1293
1294
1308
1310
1368
1370
1230
1239
791
1187
1423
1190
1195
1203
1200
1199
1198
1197
1194
164
1196
1191
1189
1188
1202
106
1261
1259
123
1251
141
1241
1240
1302
1286
1285
1292
214
1287
1535
1296
1295
1276
1281
1277
1275
101
1283
1282
1279
100
1266
1265
777
1264
1270
1269
1268
1338
1342
1333
125
1328
1316
1313
1314
1372
1366
1515
1364
1361
118
110
1376
1355
1346
684
315
314
659
654
1552
652
645
1356
1399
1392
166
1490
1491
1526
1393
854
637
291
252
634
312
658
640
661
1345
1384
1443
1441
1461
1457
837
852
346
843
849
856
841
853
855
350
844
694
862
354
370
376
621
1458
1439
1438
1437
1445
1424
1425
1411
1408
1410
1409
1407
901
929
900
916
1017
1428
1427
1488
1419
1521
1412
1421
1481
1480
1467
1527
1531
1300
1529
883
393
774
927
949
399
911
939
959
983
996
1244
1455
981
979
1007
882
915
928
948
1016
1341
1456
1426
1459
1354
1325
1466
1470
1005
950
955
956
1224
1511
1167
1166
1165
1297
1523
1501
1214
1212
1206
1231
128
1255
1450
408
710
709
413
410
1451
1274
1273
1272
1452
1453
1280
1278
1416
1417
1418
1454
1415
1522
728
438
437
412
446
436
731
443
726
1397
1463
1534
1322
1321
1320
1038
461
1047
1051
748
460
129
1375
1324
1326
1323
1327
1374
1360
1402
1498
1497
1048
1046
1039
751
505
1503
198
124
1422
1228
1413
144
1243
1242
126
1301
1179
1151
14
21
5
3
15
1785
469
470
474
486
496
944
108
120
149
1520
1036
1149
1464
1465
1512
1476
1537
1513
1180
1536
1380
1525
1528
1156
130
1514
163
1519
1518
1532
142
1245
1543
1252
1510
1475
191
1298
689
776
808
811
787
781
780
685
237
819
816
248
810
794
778
680
805
789
796
229
812
690
687
792
788
245
807
249
795
817
241
814
825
823
688
236
785
803
790
806
818
800
801
779
228
782
826
786
242
802
784
799
804
244
793
821
824
798
809
594
682
686
813
251
238
232
820
649
655
272
642
646
632
691
639
656
635
643
266
263
647
311
828
325
329
343
857
347
840
842
836
835
345
839
834
342
344
349
351
858
371
362
367
363
365
374
375
623
378
385
698
697
382
864
700
699
967
964
965
963
910
914
889
934
899
977
881
1000
891
988
989
990
869
968
962
912
924
951
1001
1002
960
961
892
879
875
874
945
867
920
921
923
958
957
1013
396
971
972
973
974
975
870
872
873
997
942
933
946
897
894
941
966
1010
953
952
994
936
395
930
925
390
404
938
1009
893
986
887
895
947
903
1012
402
1019
1018
935
905
1006
987
976
886
954
907
969
906
888
991
931
866
908
919
878
922
984
407
706
409
415
416
1020
1021
1022
727
729
425
426
428
730
427
1797
1024
445
1029
448
458
454
1028
457
1027
449
740
739
1030
453
464
1037
463
749
502
507
1042
489
497
1044
475
499
498
1794
501
473
746
471
481
482
1043
477
758
566
564
568
575
576
562
492
485
503
750
1041
650
660
1249
1250
262
261
253
467
1045
484
747
480
495
1050
493
479
596
833
82
81
797
822
783
683
139
1260
1284
1168
1299
1317
1318
1337
1225
584
633
586
307
1153
1154
1155
1172
1208
1236
1335
1500
1538
1541
1238
1304
1430
1257
1351
1442
1185
1186
1405
1505
1506
693
331
845
847
850
478
1353
96
674
1449
1256
1358
203
863
1135
1134
SELECT unique_id, iso3, ST_AsEWKT(ST_Rotate(geom,  radians(random()*360), st_transform(centrecore, 4326))), 2
from simulation_camps
where centrecore is not null and statut_camp = 'vrai'
and unique_id in (
	select parent_id
	from simulation_camps
	group by parent_id
	having count(unique_id) < 9
);
----------------------------Progression : 943 - 943
----------------------------Essai : 2, Nombre de nouveaux points 943
19
20
8
1083
1128
1100
10
1065
28
1066
1085
1432
1162
1073
1092
1104
1125
1126
1098
1093
1137
1136
851
487
570
11
4
1109
1144
1147
1097
1115
1116
1117
1118
1143
1145
1141
22
1068
1079
1096
1119
6
1077
1112
1072
673
1094
1122
759
70
775
665
767
770
832
43
831
80
1069
1508
1507
769
93
678
765
766
768
1253
1254
1067
33
1075
1081
1349
1227
1309
1311
1312
1339
1340
27
1091
1082
1080
1074
1076
1078
1089
1130
1101
1509
1184
1182
1174
1173
1169
1233
1234
1235
1088
1124
1140
1103
1121
1262
1201
1401
1305
1170
1210
1211
1220
1221
1222
1129
1127
1131
1133
1319
1394
1396
1344
1139
1120
1108
1105
1099
1086
1123
1084
1110
1138
1111
1132
1090
1071
1070
1307
1329
1331
1332
1157
1159
1161
1207
1209
1106
1087
1095
1107
1142
1152
1381
1382
1499
1232
1288
1343
1350
1359
1357
1365
1102
1114
1303
1348
1434
1390
1158
1433
1436
29
44
830
37
42
45
677
87
88
771
1215
1477
1478
1495
1496
1544
1148
1150
1032
762
95
135
1204
1474
1267
1176
1400
1171
1504
1387
1371
1373
185
1362
1213
1330
1502
1516
1524
1391
212
1378
1383
1482
1306
1539
1163
1164
1542
1377
127
1395
1403
1379
1471
1389
1446
136
1460
1440
1468
186
1414
1404
1431
1429
1420
1352
1479
1473
1469
1472
1517
1229
1223
1484
1336
1334
1271
1178
1177
1175
1258
1492
1447
1448
1205
1219
1487
1486
1485
1181
1406
1489
1192
1246
1247
1248
1462
1217
1533
1226
1483
1218
1293
1294
1308
1310
1368
1370
1230
1239
791
1187
1423
1190
1195
1203
1200
1199
1198
1197
1194
164
1196
1191
1189
1188
1202
106
1261
1259
123
1251
141
1241
1240
1302
1286
1285
1292
214
1287
1535
1296
1295
1276
1281
1277
1275
101
1283
1282
1279
100
1266
1265
777
1264
1270
1269
1268
1338
1342
1333
125
1328
1316
1313
1314
1372
1366
1515
1364
1361
118
110
1376
1355
1346
684
315
314
659
654
1552
652
645
1356
1399
1392
166
1490
1491
1526
1393
854
637
291
252
634
312
658
640
661
1345
1384
1443
1441
1461
1457
837
852
346
843
849
856
841
853
855
350
844
694
862
354
370
376
621
1458
1439
1438
1437
1445
1424
1425
1411
1408
1410
1409
1407
901
929
900
916
1017
1428
1427
1488
1419
1521
1412
1421
1481
1480
1467
1527
1531
1300
1529
883
393
774
927
949
399
911
939
959
983
996
1244
1455
981
979
1007
882
915
928
948
1016
1341
1456
1426
1459
1354
1325
1466
1470
1005
950
955
956
1224
1511
1167
1166
1165
1297
1523
1501
1214
1212
1206
1231
128
1255
1450
408
710
709
413
410
1451
1274
1273
1272
1452
1453
1280
1278
1416
1417
1418
1454
1415
1522
728
438
437
412
446
436
731
443
726
1397
1463
1534
1322
1321
1320
1038
461
1047
1051
748
460
129
1375
1324
1326
1323
1327
1374
1360
1402
1498
1497
1048
1046
1039
751
505
1503
198
124
1422
1228
1413
144
1243
1242
126
1301
1179
1151
14
21
5
3
15
1785
469
470
474
486
496
944
108
120
149
1520
1036
1149
1464
1465
1512
1476
1537
1513
1180
1536
1380
1525
1528
1156
130
1514
163
1519
1518
1532
142
1245
1543
1252
1510
1475
191
1298
689
776
808
811
787
781
780
685
237
819
816
248
810
794
778
680
805
789
796
229
812
690
687
792
788
245
807
249
795
817
241
814
825
823
688
236
785
803
790
806
818
800
801
779
228
782
826
786
242
802
784
799
804
244
793
821
824
798
809
594
682
686
813
251
238
232
820
649
655
272
642
646
632
691
639
656
635
643
266
263
647
311
828
325
329
343
857
347
840
842
836
835
345
839
834
342
344
349
351
858
371
362
367
363
365
374
375
623
378
385
698
697
382
864
700
699
967
964
965
963
910
914
889
934
899
977
881
1000
891
988
989
990
869
968
962
912
924
951
1001
1002
960
961
892
879
875
874
945
867
920
921
923
958
957
1013
396
971
972
973
974
975
870
872
873
997
942
933
946
897
894
941
966
1010
953
952
994
936
395
930
925
390
404
938
1009
893
986
887
895
947
903
1012
402
1019
1018
935
905
1006
987
976
886
954
907
969
906
888
991
931
866
908
919
878
922
984
407
706
409
415
416
1020
1021
1022
727
729
425
426
428
730
427
1797
1024
445
1029
448
458
454
1028
457
1027
449
740
739
1030
453
464
1037
463
749
502
507
1042
489
497
1044
475
499
498
1794
501
473
746
471
481
482
1043
477
758
566
564
568
575
576
562
492
485
503
750
1041
650
660
1249
1250
262
261
253
467
1045
484
747
480
495
1050
493
479
596
833
82
81
797
822
783
683
139
1260
1284
1168
1299
1317
1318
1337
1225
584
633
586
307
1153
1154
1155
1172
1208
1236
1335
1500
1538
1541
1238
1304
1430
1257
1351
1442
1185
1186
1405
1505
1506
693
331
845
847
850
478
1353
96
674
1449
1256
1358
203
863
1135
1134
SELECT unique_id, iso3, ST_AsEWKT(ST_Rotate(geom,  radians(random()*360), st_transform(centrecore, 4326))), 3
from simulation_camps
where centrecore is not null and statut_camp = 'vrai'
and unique_id in (
	select parent_id
	from simulation_camps
	group by parent_id
	having count(unique_id) < 9
);
----------------------------Progression : 943 - 943
----------------------------Essai : 3, Nombre de nouveaux points 943
19
20
8
1083
1128
1100
10
1065
28
1066
1085
1432
1162
1073
1092
1104
1125
1126
1098
1093
1137
1136
851
487
570
11
4
1109
1144
1147
1097
1115
1116
1117
1118
1143
1145
1141
22
1068
1079
1096
1119
6
1077
1112
1072
673
1094
1122
759
70
775
665
767
770
832
43
831
80
1069
1508
1507
769
93
678
765
766
768
1253
1254
1067
33
1075
1081
1349
1227
1309
1311
1312
1339
1340
27
1091
1082
1080
1074
1076
1078
1089
1130
1101
1509
1184
1182
1174
1173
1169
1233
1234
1235
1088
1124
1140
1103
1121
1262
1201
1401
1305
1170
1210
1211
1220
1221
1222
1129
1127
1131
1133
1319
1394
1396
1344
1139
1120
1108
1105
1099
1086
1123
1084
1110
1138
1111
1132
1090
1071
1070
1307
1329
1331
1332
1157
1159
1161
1207
1209
1106
1087
1095
1107
1142
1152
1381
1382
1499
1232
1288
1343
1350
1359
1357
1365
1102
1114
1303
1348
1434
1390
1158
1433
1436
29
44
830
37
42
45
677
87
88
771
1215
1477
1478
1495
1496
1544
1148
1150
1032
762
95
135
1204
1474
1267
1176
1400
1171
1504
1387
1371
1373
185
1362
1213
1330
1502
1516
1524
1391
212
1378
1383
1482
1306
1539
1163
1164
1542
1377
127
1395
1403
1379
1471
1389
1446
136
1460
1440
1468
186
1414
1404
1431
1429
1420
1352
1479
1473
1469
1472
1517
1229
1223
1484
1336
1334
1271
1178
1177
1175
1258
1492
1447
1448
1205
1219
1487
1486
1485
1181
1406
1489
1192
1246
1247
1248
1462
1217
1533
1226
1483
1218
1293
1294
1308
1310
1368
1370
1230
1239
791
1187
1423
1190
1195
1203
1200
1199
1198
1197
1194
164
1196
1191
1189
1188
1202
106
1261
1259
123
1251
141
1241
1240
1302
1286
1285
1292
214
1287
1535
1296
1295
1276
1281
1277
1275
101
1283
1282
1279
100
1266
1265
777
1264
1270
1269
1268
1338
1342
1333
125
1328
1316
1313
1314
1372
1366
1515
1364
1361
118
110
1376
1355
1346
684
315
314
659
654
1552
652
645
1356
1399
1392
166
1490
1491
1526
1393
854
637
291
252
634
312
658
640
661
1345
1384
1443
1441
1461
1457
837
852
346
843
849
856
841
853
855
350
844
694
862
354
370
376
621
1458
1439
1438
1437
1445
1424
1425
1411
1408
1410
1409
1407
901
929
900
916
1017
1428
1427
1488
1419
1521
1412
1421
1481
1480
1467
1527
1531
1300
1529
883
393
774
927
949
399
911
939
959
983
996
1244
1455
981
979
1007
882
915
928
948
1016
1341
1456
1426
1459
1354
1325
1466
1470
1005
950
955
956
1224
1511
1167
1166
1165
1297
1523
1501
1214
1212
1206
1231
128
1255
1450
408
710
709
413
410
1451
1274
1273
1272
1452
1453
1280
1278
1416
1417
1418
1454
1415
1522
728
438
437
412
446
436
731
443
726
1397
1463
1534
1322
1321
1320
1038
461
1047
1051
748
460
129
1375
1324
1326
1323
1327
1374
1360
1402
1498
1497
1048
1046
1039
751
505
1503
198
124
1422
1228
1413
144
1243
1242
126
1301
1179
1151
14
21
5
3
15
1785
469
470
474
486
496
944
108
120
149
1520
1036
1149
1464
1465
1512
1476
1537
1513
1180
1536
1380
1525
1528
1156
130
1514
163
1519
1518
1532
142
1245
1543
1252
1510
1475
191
1298
689
776
808
811
787
781
780
685
237
819
816
248
810
794
778
680
805
789
796
229
812
690
687
792
788
245
807
249
795
817
241
814
825
823
688
236
785
803
790
806
818
800
801
779
228
782
826
786
242
802
784
799
804
244
793
821
824
798
809
594
682
686
813
251
238
232
820
649
655
272
642
646
632
691
639
656
635
643
266
263
647
311
828
325
329
343
857
347
840
842
836
835
345
839
834
342
344
349
351
858
371
362
367
363
365
374
375
623
378
385
698
697
382
864
700
699
967
964
965
963
910
914
889
934
899
977
881
1000
891
988
989
990
869
968
962
912
924
951
1001
1002
960
961
892
879
875
874
945
867
920
921
923
958
957
1013
396
971
972
973
974
975
870
872
873
997
942
933
946
897
894
941
966
1010
953
952
994
936
395
930
925
390
404
938
1009
893
986
887
895
947
903
1012
402
1019
1018
935
905
1006
987
976
886
954
907
969
906
888
991
931
866
908
919
878
922
984
407
706
409
415
416
1020
1021
1022
727
729
425
426
428
730
427
1797
1024
445
1029
448
458
454
1028
457
1027
449
740
739
1030
453
464
1037
463
749
502
507
1042
489
497
1044
475
499
498
1794
501
473
746
471
481
482
1043
477
758
566
564
568
575
576
562
492
485
503
750
1041
650
660
1249
1250
262
261
253
467
1045
484
747
480
495
1050
493
479
596
833
82
81
797
822
783
683
139
1260
1284
1168
1299
1317
1318
1337
1225
584
633
586
307
1153
1154
1155
1172
1208
1236
1335
1500
1538
1541
1238
1304
1430
1257
1351
1442
1185
1186
1405
1505
1506
693
331
845
847
850
478
1353
96
674
1449
1256
1358
203
863
1135
1134
SELECT unique_id, iso3, ST_AsEWKT(ST_Rotate(geom,  radians(random()*360), st_transform(centrecore, 4326))), 4
from simulation_camps
where centrecore is not null and statut_camp = 'vrai'
and unique_id in (
	select parent_id
	from simulation_camps
	group by parent_id
	having count(unique_id) < 9
);
----------------------------Progression : 943 - 943
----------------------------Essai : 4, Nombre de nouveaux points 943
19
20
8
1083
1128
1100
10
1065
28
1066
1085
1432
1162
1073
1092
1104
1125
1126
1098
1093
1137
1136
851
487
570
11
4
1109
1144
1147
1097
1115
1116
1117
1118
1143
1145
1141
22
1068
1079
1096
1119
6
1077
1112
1072
673
1094
1122
759
70
775
665
767
770
832
43
831
80
1069
1508
1507
769
93
678
765
766
768
1253
1254
1067
33
1075
1081
1349
1227
1309
1311
1312
1339
1340
27
1091
1082
1080
1074
1076
1078
1089
1130
1101
1509
1184
1182
1174
1173
1169
1233
1234
1235
1088
1124
1140
1103
1121
1262
1201
1401
1305
1170
1210
1211
1220
1221
1222
1129
1127
1131
1133
1319
1394
1396
1344
1139
1120
1108
1105
1099
1086
1123
1084
1110
1138
1111
1132
1090
1071
1070
1307
1329
1331
1332
1157
1159
1161
1207
1209
1106
1087
1095
1107
1142
1152
1381
1382
1499
1232
1288
1343
1350
1359
1357
1365
1102
1114
1303
1348
1434
1390
1158
1433
1436
29
44
830
37
42
45
677
87
88
771
1215
1477
1478
1495
1496
1544
1148
1150
1032
762
95
135
1204
1474
1267
1176
1400
1171
1504
1387
1371
1373
185
1362
1213
1330
1502
1516
1524

In [62]:
print(progression)
#[943, 165, 93, 55, 35, 21, 14, 11, 8, 6, 4, 4, 4, 4, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0
#[943, 106, 54, 34, 20, 11, 9, 6, 4, 3, 2, 1, 1] et 312
#[943, 943, 170, 103, 74, 59, 46, 35, 23, 19, 13, 12, 12] et (1066, 70, 1254, 1307, 312, 346, 856, 694, 915, 748, 262, 586)
#[943, 943, 943, 943, 943, 254, 188, 149, 120, 105, 82, 71, 62, 50, 49, 42, 37, 33, 29, 26, 21, 19, 16, 15, 13, 12, 11, 10, 9, 8, 8] et (10, 1085, 1141, 1079, 1119, 312, 748, 478)
# [922, 922, 905, 879, 842, 160, 114, 77, 53, 47, 39, 33, 27, 19, 17, 14, 12, 11, 11] et (10, 1065, 1085, 185, 652, 312,843, 436, 748, 262, 478)
# [943, 943, 943, 943, 943, 943, 943, 943, 282, 245, 199, 166, 137, 122, 108, 96, 87, 80, 71, 64, 59, 54, 52, 50, 42, 41, 35, 33, 32, 29, 27, 25, 23, 22, 21, 19, 17, 17] et (1065, 1085, 1141, 1119, 70, 1254, 185, 291, 252, 312, 694, 862, 436, 748, 262, 478,674)

[943, 943, 943, 943, 943, 943, 943, 943, 282, 245, 199, 166, 137, 122, 108, 96, 87, 80, 71, 64, 59, 54, 52, 50, 42, 41, 35, 33, 32, 29, 27, 25, 23, 22, 21, 19, 17, 17]