In [10]:
import pandas.io.sql as sql
from sqlalchemy import create_engine, text as sql_text

import pandas as pd

In [2]:
import geopandas as gpd

datapath = r"C:\Christine\Dev\camps\webapp\DGURBA-2018-01M-SH\DGURBA_2018_01M.shp"
gdfdata = gpd.read_file(datapath)
gdfdata.head()

,POPULATION,SHAPE_LEN,NUTS,NSI_CODE,SHAPE_AREA,GISCO_ID,LAT_NAT,LAU_LATIN,DGURBA,COASTAL,geometry
0,963.0,0.315585633965,AT113,10413,0.00217483024075,AT_10413,Sankt Michael im Burgenland,Sankt Michael im Burgenland,3,No,"POLYGON ((16.27358 47.14859, 16.2818 47.15034,..."
1,2658.0,0.279363929918,AT113,10414,0.00211164376227,AT_10414,Stegersbach,Stegersbach,3,No,"POLYGON ((16.14784 47.12803, 16.14241 47.13121..."
2,62.0,0.0632358779351,AT113,10423,2.04045207483E-4,AT_10423,Tschanigraben,Tschanigraben,3,No,"POLYGON ((16.32247 47.00256, 16.30328 46.99876..."
3,363.0,0.231219279656,AT111,10827,0.00110841174696,AT_10827,Weingraben,Weingraben,3,No,"POLYGON ((16.35994 47.5311, 16.38449 47.52039,..."
4,1835.0,0.660532310168,AT124,32501,0.00875004038598,AT_32501,Allentsteig,Allentsteig,3,No,"POLYGON ((15.28131 48.6446, 15.27645 48.64428,..."

In [3]:
import pandas as pd
print(gdfdata.columns)
pd.unique(gdfdata.DGURBA) #3, 2, 1
gdfdata.dtypes

Index(['POPULATION', 'SHAPE_LEN', 'NUTS', 'NSI_CODE', 'SHAPE_AREA', 'GISCO_ID',
       'LAT_NAT', 'LAU_LATIN', 'DGURBA', 'COASTAL', 'geometry'],
      dtype='object')

POPULATION      object
SHAPE_LEN       object
NUTS            object
NSI_CODE        object
SHAPE_AREA      object
GISCO_ID        object
LAT_NAT         object
LAU_LATIN       object
DGURBA           int32
COASTAL         object
geometry      geometry
dtype: object

In [16]:
gdfdata[gdfdata.DGURBA==1][['POPULATION', 'geometry']].shape

(4563, 2)

In [11]:
gdfdata[gdfdata.DGURBA==2].shape

(14491, 11)

In [ ]:
print(gdfdata.crs) #EPSG:4258
gdfdata = gdfdata.to_crs(epsg=4326)
print(gdfdata.crs)

EPSG:4258
EPSG:4326

In [20]:
gdfdata[gdfdata.DGURBA==1][['POPULATION', 'geometry']].to_file("degurba_01.geojson", driver='GeoJSON')
gdfdata[gdfdata.DGURBA==2][['POPULATION', 'geometry']].to_file("degurba_02.geojson", driver='GeoJSON')
gdfdata[gdfdata.DGURBA==3][['POPULATION', 'geometry']].to_file("degurba_03.geojson", driver='GeoJSON')

## Lire les camps et vérifier ce qui est cartographié

In [7]:
FILE_PATH = "D:\Dev\camps\webapp\camps8_18-03-2025-sansNAniOUTLIERS.csv"
camps = pd.read_csv(FILE_PATH, sep=';', encoding='utf-8', on_bad_lines='skip')

print(camps.shape)

(994, 43)

In [5]:
camps.columns

Index(['unique_id', 'nom_unique', 'camp_latitude', 'camp_longitude',
       'type_camp', 'iso3', 'prison', 'degurba', 'clc_majoritaire_13_mixte',
       'eloignementschengen', 'clc_majoritaire_2', 'clc_majoritaire_3',
       'clc_majoritaire_23_mixte', 'infrastructure_norm',
       'infrastructure_avant_conversion', 'infrastructure_solidite',
       'infrastructure_confort', 'pays_population', 'pays_surfacekm2',
       'ville_proche_population', 'distance_ville_proche', 'mairie_distance',
       'atm_distance', 'hopital_distance', 'pharmacie_distance',
       'arret_bus_distance_km', 'gare_distance_km',
       'medecin_clinique_hors_camp_distance_km',
       'dentiste_hors_camp_distance_km', 'ecole_hors_camp_distance_km',
       'poste_hors_camp_distance_km', 'distance_13_mines_decharges_chantiers',
       'distance_124_aeroport', 'distance_123_zones_portuaires',
       'distance_122_reseaux_routiers',
       'distance_24_zones_agricoles_heterogenes',
       'distance_41_zones_humides_interieures', 'distance_121_zi_zac',
       'distanceschengenkm', 'eurostat_pop_2019', 'camps_commune_surfacekm2',
       'capacite', 'ecart_densites'],
      dtype='object')

In [8]:
pd.unique(camps.degurba)

array(['banlieue', 'ville', 'rural', '(manquant)'], dtype=object)

In [ ]:
pd.unique(camps.prison)

array(['non', 'oui', '(manquant)', 'doute'], dtype=object)

In [8]:
pd.unique(camps.infrastructure_avant_conversion)

array(['pas de conversion', 'institut médical', 'base militaire',
       'centre de vacances', 'hôpital', 'école', 'édifice religieux',
       'gare-hôpital', 'résidence étudiante', 'hôpital psychiatrique',
       'infrastructure sportive', 'usine'], dtype=object)

In [11]:
print(pd.unique(camps.infrastructure_solidite))
print(pd.unique(camps.infrastructure_norm))

['(manquant)' '4' '2' '3' '1']
['(manquant)' 'dur / police' 'dur' 'dur / conversion' 'bateau'
 'dur / hébergement' 'mixte containers - dur / conversion'
 'mixte containers - gymnase / conversion' 'mixte containers - dur'
 'dur / enfermement' 'containers' 'containers / hangars' 'dur / transport'
 'mixte containers - tentes' 'mixte dur - rubb hall / conversion'
 'mixte dur - rubb hall' 'mixte containers - rubb hall' 'rubb hall'
 'mixte containers - dur - tentes' 'containers / transport'
 'mixte containers - dur - tentes / conversion '
 'mixte containers - bungalows' 'hangar' 'mixte dur - tentes' 'bungalows']

## Lire les camps depuis la base de données

In [2]:
# Lire les camps depuis la base de données locale maison
import pandas.io.sql as sql
from sqlalchemy import create_engine, text as sql_text

import pandas as pd

engine = create_engine('postgresql://postgres:postgres@localhost:5432/camps_europe')
ORM_conn=engine.connect()
ORM_conn

query = "select * from camps.camps8" 
local_camps = pd.read_sql_query(con=ORM_conn, sql=sql_text(query))
print(local_camps.shape) #(1791, 258)
columnsMaison = local_camps.columns

(1791, 261)

#### Sur le serveur (même base que locale car rétablie sur Romarin depuis locale)

In [ ]:
engine = create_engine('postgresql://postgres:*************@localhost:8009/camps')
ORM_conn2=engine.connect()
ORM_conn

query = "select * from camps.camps8"
server_camps = pd.read_sql_query(con=ORM_conn2, sql=sql_text(query))
print(server_camps.shape)
server_camps.columns

(1791, 258)

Index(['index', 'unique_id', 'id', 'nom', 'nom_court', 'doublon', 'remarques',
       'bdd_source', 'sources', 'iso3',
       ...
       'ecole_hors_camp_distance_km', 'clc_majoritaire_13_mixte', 'nom_unique',
       'infrastructure_norm', 'infrastructure_avant_conversion',
       'infrastructure_solidite', 'infrastructure_confort', 'pays_surfacekm2',
       'camps_commune_surfacekm2', 'distance_121_zi_zac'],
      dtype='object', length=258)

In [8]:
# Comparer toutes les colonnes pour les lignes ayant le même unique_id et pour les attributs renseignés
import pandas as pd
import numpy as np

# Vérifier que les deux DataFrames ont la colonne 'unique_id'
if 'unique_id' in local_camps.columns and 'unique_id' in server_camps.columns:
    # Fusionner les deux DataFrames sur 'unique_id'
    merged = pd.merge(local_camps, server_camps, on='unique_id', suffixes=('_local', '_server'))
    diff_cols = []
    for col in local_camps.columns:
        if col != 'unique_id' and col in server_camps.columns:
            # On ne compare que les lignes où au moins une des deux valeurs est renseignée (non nulle et non NaN)
            mask = (~merged[f'{col}_local'].isna() & (merged[f'{col}_local'] != '')) | (~merged[f'{col}_server'].isna() & (merged[f'{col}_server'] != ''))
            diff = (merged[f'{col}_local'] != merged[f'{col}_server']) & mask
            if diff.any():
                diff_cols.append(col)
                print(f"Différences pour la colonne '{col}' (attributs renseignés) :")
                print(merged.loc[diff, ['unique_id', f'{col}_local', f'{col}_server']])
    if not diff_cols:
        print("Toutes les colonnes renseignées sont identiques pour chaque unique_id.")
    else:
        print(f"Colonnes différentes (attributs renseignés) : {diff_cols}")
else:
    print("La colonne 'unique_id' n'existe pas dans l'un des DataFrames.")

Toutes les colonnes renseignées sont identiques pour chaque unique_id.

### Travailler sur les différentes couches, depuis la BDD

Et aussi faire des couches de camps
 - actifs (depuis 2018)
	 - 3 couches si ouvert / fermé / clopen
		 - vérifiés : ouvert (rond) - fermé (carré) - clopen (losange)
		 - non classifiés : (etoiles grises) hors eurostat
		 - non vérifiés : (triangle bleu)
 - pas actifs : hachurer les motifs
	 - 3 couches si ouvert / fermé / clopen
		 - vérifiés : ouvert (rond) - fermé (carré) - clopen (losange)
		 - non classifiés : (etoiles grises) hors eurostat
		 - non vérifiés : (triangle bleu)

In [48]:
FILE_PATH = "C:/Travail/MIGRINTER/Labo/Louis_Fernier/Analyse_camp_Nov2024/figuresAFCM/18mars2025/data/CAHcamps8_18-03-2025.csv"
CAHcamps = pd.read_csv(FILE_PATH, sep=';', encoding='utf-8', decimal='.', on_bad_lines='skip')

print(CAHcamps.shape)
CAHcamps.columns

(994, 47)

Index(['unique_id', 'nom_unique', 'camp_latitude', 'camp_longitude',
       'type_camp', 'iso3', 'prison', 'degurba', 'clc_majoritaire_13_mixte',
       'eloignementschengen', 'clc_majoritaire_2', 'clc_majoritaire_3',
       'clc_majoritaire_23_mixte', 'infrastructure_norm',
       'infrastructure_avant_conversion', 'infrastructure_solidite',
       'infrastructure_confort', 'pays_population', 'pays_surfacekm2',
       'ville_proche_population', 'distance_ville_proche', 'mairie_distance',
       'atm_distance', 'hopital_distance', 'pharmacie_distance',
       'arret_bus_distance_km', 'gare_distance_km',
       'medecin_clinique_hors_camp_distance_km',
       'dentiste_hors_camp_distance_km', 'ecole_hors_camp_distance_km',
       'poste_hors_camp_distance_km', 'distance_13_mines_decharges_chantiers',
       'distance_124_aeroport', 'distance_123_zones_portuaires',
       'distance_122_reseaux_routiers',
       'distance_24_zones_agricoles_heterogenes',
       'distance_41_zones_humides_interieures', 'distance_121_zi_zac',
       'distanceschengenkm', 'eurostat_pop_2019', 'camps_commune_surfacekm2',
       'capacite', 'ecart_densites', 'membersClus2', 'membersClus3',
       'membersClus4', 'membersClus'],
      dtype='object')

#### Sauver la classification sur tous les camps actifs du 18 mars et en Europe

- iso3 in  ('FRA', 'ITA', 'BEL' , 'NLD', 'LUX', 'DEU', 'ESP', 'PRT', 'SWE',  'FIN', 'DNK', 'NOR', 'POL', 'SVK', 'HUN', 'CZE', 'SVN', 'AUT', 'GRC', 'MLT', 'EST', 'LTU', 'LVA', 'ROU', 'BGR', 'HRV', 'CHE', 'ISL', 'GBR', 'IRL', 'CYP', 'ALB',  'MKD',  'SRB',  'BIH', 'MNE', 'UNK', 'TUR')
- point3857 is not null and doublon='Non' 
- localisation_qualite in ('vérifiée', 'quartier')
- and actif_dernieres_infos = 'oui' and derniere_date_info::int>= 2018 
- and unique_id not in ('202', '196', '210', '865')

In [ ]:
import pandas.io.sql as sql
from sqlalchemy import create_engine, text as sql_text

import pandas as pd

#engine = create_engine('postgresql://postgres:postgres@localhost:5432/camps_europe')
engine = create_engine('postgresql://postgres:*************@localhost:8009/camps')
ORM_conn=engine.connect()


## Exporter le dataframe dans une table de la base de données mais échouer si la table existe déjà
CAHcamps.to_sql('CAHcamps', con=engine, schema='camps', if_exists= 'fail', index=False)
##  Commit the transaction to make changes persistent
ORM_conn.commit()

#### Calculer dans la base la valeur de classificationWeb pour camps8

In [ ]:
import psycopg2

## Create a connection on a postgres database with psycopg2
#connectString = "host=localhost port=5432 user=postgres dbname=camps_europe password=postgres options='-c search_path=camps,public'"
connectString = "host=localhost port=8009 user=postgres dbname=camps password=************* options='-c search_path=camps,public'"

conn = psycopg2.connect(connectString)


queries = """
ALTER TABLE "CAHcamps" ALTER COLUMN "membersClus3" TYPE int USING "membersClus3"::int;
ALTER TABLE "CAHcamps" ALTER COLUMN "membersClus4" TYPE int USING "membersClus4"::int;

alter table camps8 add column if not exists classificationWeb text;
alter table camps8 add column if not exists membersClus3 int;
alter table camps8 add column if not exists membersClus4 int;

update camps8 c set classificationWeb = 'non classifié'; 
update camps8 c set classificationWeb = 'sans géometrie' where (point3857 is  null or doublon!='Non'); 
update camps8 c set classificationWeb = 'non vérifié' where localisation_qualite is null or localisation_qualite not in ('vérifiée', 'quartier') and (point3857 is not null and doublon='Non'); --354
update camps8 c 
set classificationWeb = case when (cah."membersClus3" =3) then 'ville' when (cah."membersClus3" =2) then 'banlieue' when (cah."membersClus3" =1) then 'rural' else 'non classifié'  end, 
membersClus3 = cah."membersClus3" , membersClus4 = cah."membersClus4"
from "CAHcamps" cah
where cah.unique_id  = c.unique_id ;

-- Pour ceux qu'on n'avait pas classer car inactifs
update camps.camps8  set classificationweb = 
 case when (degurba=1) then 'ville' when (degurba=2) then 'banlieue' when (degurba=3) then 'rural' else 'non classifié'  end
where localisation_qualite  in ('vérifiée', 'quartier') 
and not (actif_dernieres_infos = 'oui' and derniere_date_info::int>= 2018) 
and unique_id not in ('202', '196', '210', '865')
 and clc_majoritaire_13_mixte is not null
 and horsdburba is false and geom is not null and doublon='Non';
 
-- array(['banlieue', 'ville', 'rural', '(manquant)'], dtype=object)

-- sans géometrie	37
-- banlieue	447
-- ville	333
-- rural	214
-- non vérifié	401
-- non classifié	359

""" 


print(queries)
## Create a cursor object using cursor() method
cur = conn.cursor()
cur.execute(queries)
cur.close() #Close the cursor
conn.commit() #Commit the database changes

ALTER TABLE "CAHcamps" ALTER COLUMN "membersClus3" TYPE int USING "membersClus3"::int;
ALTER TABLE "CAHcamps" ALTER COLUMN "membersClus4" TYPE int USING "membersClus4"::int;

alter table camps8 add column if not exists classificationWeb text;
alter table camps8 add column if not exists membersClus3 int;
alter table camps8 add column if not exists membersClus4 int;

update camps8 c set classificationWeb = 'non classifié';
update camps8 c set classificationWeb = 'sans géometrie' where (point3857 is  null or doublon!='Non');
update camps8 c set classificationWeb = 'non vérifié' where localisation_qualite is null or localisation_qualite not in ('vérifiée', 'quartier') and (point3857 is not null and doublon='Non'); --354
update camps8 c
set classificationWeb = case when (cah."membersClus3" =3) then 'ville' when (cah."membersClus3" =2) then 'banlieue' when (cah."membersClus3" =1) then 'rural' else 'non classifié'  end,
membersClus3 = cah."membersClus3" , membersClus4 = cah."membersClus4"
from "CAHcamps" cah
where cah.unique_id  = c.unique_id ;

-- Pour ceux qu'on n'avait pas classer car inactifs
update camps.camps8  set classificationweb =
 case when (degurba=1) then 'ville' when (degurba=2) then 'banlieue' when (degurba=3) then 'rural' else 'non classifié'  end
where localisation_qualite  in ('vérifiée', 'quartier')
and not (actif_dernieres_infos = 'oui' and derniere_date_info::int>= 2018)
and unique_id not in ('202', '196', '210', '865')
 and clc_majoritaire_13_mixte is not null
 and horsdburba is false and geom is not null and doublon='Non';

-- array(['banlieue', 'ville', 'rural', '(manquant)'], dtype=object)

-- sans géometrie	37
-- banlieue	447
-- ville	333
-- rural	214
-- non vérifié	401
-- non classifié	359

#### Extraire tous les camps

-- and unique_id not in ('202', '196', '210', '865')
--and clc_majoritaire_13_mixte is not null
-- and iso3 in  ('FRA', 'ITA', 'BEL' , 'NLD', 'LUX', 'DEU', 'ESP', 'PRT', 'SWE',  'FIN', 'DNK', 'NOR', 'POL', 'SVK', 'HUN', 'CZE', 'SVN', 'AUT', 'GRC', 'MLT', 'EST', 'LTU', 'LVA', 'ROU', 'BGR', 'HRV', 'CHE', 'ISL', 'GBR', 'IRL', 'CYP', 'ALB',  'MKD',  'SRB',  'BIH', 'MNE', 'UNK', 'TUR')
-- and localisation_qualite in ('vérifiée', 'quartier')
-- and actif_dernieres_infos = 'oui'
-- and derniere_date_info::int>= 2018 
-- and c.nom_court not like ('%CADA%') -- refaire l'analyse sans CADA

In [9]:
QueryTous = """select unique_id, nom_unique, 
doublon,  bdd_source, localisation_qualite, 
camp_latitude, camp_longitude, "URL_maps",
iso3, pays, pays_population , pays_surfacekm2,
derniere_date_info , actif_dernieres_infos,
"ouverture/premiere_date", fermeture_date, 
camp_adresse, camp_code_postal, camp_commune, 
type_camp, 
capacite_2017, capacite_2018, capacite_2019, capacite_2020, capacite_2021, capacite_2022, capacite_2023, effectif_2017, effectif_2018, effectif_2019, effectif_2020, effectif_2021, effectif_hommes_2022, effectif_femmes_2022, effectifs_mineurs_2022, effectif_total_2022, duree_max_2017, duree_max_2018, duree_max_2019, duree_max_2020, duree_max_2021, duree_max_2022, duree_moy_2017, duree_moy_2018, duree_moy_2019, duree_moy_2020, duree_moy_2021, duree_moy_2022, mineurs_2017, mineurs_2018, mineurs_2019, mineurs_2020, mineurs_2021, nationalite, 
coalesce(capacite_2023, coalesce(capacite_2022::int, coalesce(capacite_2021, coalesce(capacite_2020, coalesce(capacite_2019, coalesce(capacite_2018, coalesce(capacite_2017::int, null))))))) as capacite,
prison, 
degurba, 
horsdburba, 
ville_proche_nom ,  "ville_proche_code postal",
ville_proche_population , distance_ville_proche, 
eurostat_computed_fua_code, eurostat_computed_gisco_id, eurostat_name_ascii_2016, eurostat_pop_2019, camps_commune_surfacekm2,
infrastructure_norm,	infrastructure_avant_conversion,	infrastructure_solidite,	infrastructure_confort,
climat,   
mairie_distance, atm_distance, hopital_distance, pharmacie_distance, arret_bus_distance_km, gare_distance_km, 
medecin_clinique_hors_camp_distance_km, dentiste_hors_camp_distance_km,
ecole_hors_camp_distance_km, poste_hors_camp_distance_km,
clc_majoritaire_2, clc_majoritaire_3, clc_majoritaire_23_mixte, clc_majoritaire_13_mixte,
distance_13_mines_decharges_chantiers, distance_124_aeroport, distance_123_zones_portuaires, distance_122_reseaux_routiers, distance_24_zones_agricoles_heterogenes, distance_41_zones_humides_interieures, distance_121_zi_zac,
distanceschengenkm, eloignementschengen , classificationWeb, membersClus3 , membersClus4, geom
from camps.camps8 c 
 where  true
 and point3857 is not null and doublon='Non' 
order by pays ; """
# -- Extraction pour Louis le 18/03 (1791 sans filtre puis 994 avec) et SANS 'BLR'

In [26]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/camps_europe')
ORM_conn=engine.connect()
ORM_conn

local_camps = pd.read_sql_query(con=ORM_conn, sql=sql_text(QueryTous))
print(local_camps.shape) #(1791, 258)  (1712, 98)
columnsMaison = local_camps.columns
print(columnsMaison)

ORM_conn.close()
print(type(local_camps))

(1712, 99)
Index(['unique_id', 'nom_unique', 'doublon', 'bdd_source',
       'localisation_qualite', 'camp_latitude', 'camp_longitude', 'URL_maps',
       'iso3', 'pays', 'pays_population', 'pays_surfacekm2',
       'derniere_date_info', 'actif_dernieres_infos',
       'ouverture/premiere_date', 'fermeture_date', 'camp_adresse',
       'camp_code_postal', 'camp_commune', 'type_camp', 'capacite_2017',
       'capacite_2018', 'capacite_2019', 'capacite_2020', 'capacite_2021',
       'capacite_2022', 'capacite_2023', 'effectif_2017', 'effectif_2018',
       'effectif_2019', 'effectif_2020', 'effectif_2021',
       'effectif_hommes_2022', 'effectif_femmes_2022',
       'effectifs_mineurs_2022', 'effectif_total_2022', 'duree_max_2017',
       'duree_max_2018', 'duree_max_2019', 'duree_max_2020', 'duree_max_2021',
       'duree_max_2022', 'duree_moy_2017', 'duree_moy_2018', 'duree_moy_2019',
       'duree_moy_2020', 'duree_moy_2021', 'duree_moy_2022', 'mineurs_2017',
       'mineurs_2018', 'mineurs_2019', 'mineurs_2020', 'mineurs_2021',
       'nationalite', 'capacite', 'prison', 'degurba', 'horsdburba',
       'ville_proche_nom', 'ville_proche_code postal',
       'ville_proche_population', 'distance_ville_proche',
       'eurostat_computed_fua_code', 'eurostat_computed_gisco_id',
       'eurostat_name_ascii_2016', 'eurostat_pop_2019',
       'camps_commune_surfacekm2', 'infrastructure_norm',
       'infrastructure_avant_conversion', 'infrastructure_solidite',
       'infrastructure_confort', 'climat', 'mairie_distance', 'atm_distance',
       'hopital_distance', 'pharmacie_distance', 'arret_bus_distance_km',
       'gare_distance_km', 'medecin_clinique_hors_camp_distance_km',
       'dentiste_hors_camp_distance_km', 'ecole_hors_camp_distance_km',
       'poste_hors_camp_distance_km', 'clc_majoritaire_2', 'clc_majoritaire_3',
       'clc_majoritaire_23_mixte', 'clc_majoritaire_13_mixte',
       'distance_13_mines_decharges_chantiers', 'distance_124_aeroport',
       'distance_123_zones_portuaires', 'distance_122_reseaux_routiers',
       'distance_24_zones_agricoles_heterogenes',
       'distance_41_zones_humides_interieures', 'distance_121_zi_zac',
       'distanceschengenkm', 'eloignementschengen', 'classificationweb',
       'membersclus3', 'membersclus4', 'geom'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>

In [54]:
local_camps.to_csv("D:/Dev/camps/webapp/camps8_06022026_Maison.csv", index=False, sep=';', encoding='utf-8', decimal='.', na_rep='NA')

##### non nécessaire

In [14]:
### joindre tous les camps avec la classification CAH faite par Louis Fernier
merged_camps = pd.merge(local_camps, CAHcamps[['unique_id', 'membersClus3']], on='unique_id', how='left')
merged_camps.shape

(1708, 97)

In [44]:
local_camps['derniere_date_info'] = pd.to_numeric(local_camps['derniere_date_info'], errors='coerce').astype('Int64')

   
camps_actifs = local_camps.query("actif_dernieres_infos == 'oui' & derniere_date_info >= 2018")
camps_inactifs = local_camps.query("actif_dernieres_infos != 'oui' & derniere_date_info < 2018")

In [29]:
local_camps.shape
local_camps.query("derniere_date_info.notna()").shape #1712, 98)
local_camps.query("derniere_date_info >= 2018").shape

(1289, 98)

In [17]:
camps_actifs.shape #(1186, 98)
camps_inactifs.shape #(287, 98)

pd.unique(local_camps.type_camp) #['fermé', 'ouvert', 'semi-ouvert', 'doute']
local_camps.query("type_camp.notna()").shape #1712, 98)

(1712, 98)

In [47]:
pd.unique(camps_actifs.degurba) #array([ 2.,  1., nan,  3.])
pd.unique(camps_actifs.membersclus3) #array([ 1.,  2.,  3., nan])

#camps_actifs.columns
camps_actifs[["type_camp", "degurba", "membersclus3", "classificationweb", "membersclus4"]]

     type_camp  degurba  membersclus3 classificationweb  membersclus4
0        fermé      2.0           1.0             rural          21.0
10       fermé      2.0           2.0          banlieue          11.0
11       fermé      1.0           2.0          banlieue          11.0
12       fermé      2.0           3.0             ville          12.0
13       fermé      2.0           1.0             rural          21.0
...        ...      ...           ...               ...           ...
1700     fermé      1.0           2.0          banlieue          11.0
1701     fermé      1.0           2.0          banlieue          11.0
1702     fermé      1.0           2.0          banlieue          11.0
1704     fermé      1.0           2.0          banlieue          11.0
1705     fermé      2.0           3.0             ville          12.0

[1186 rows x 5 columns]

In [ ]:
pd.unique(camps_actifs.classificationweb) #['rural', 'banlieue', 'ville', 'non classifié', 'non vérifié']

array(['rural', 'banlieue', 'ville', 'non classifié', 'non vérifié'],
      dtype=object)

### Lire et interpréter les notes pour l'isolement des camps

In [27]:
import os
BASE_DIR = os.path.dirname(os.path.abspath('__file__'))
BASE_DIR = "D:/Dev/camps/webapp/"
CONFIGFILE_PATH = os.path.join(BASE_DIR, r"config_notes_isolement.xlsx")

config_notes  = pd.read_excel(CONFIGFILE_PATH, sheet_name='2024-11-25_indices_isolement', skiprows=1)

print(config_notes.columns) #['catégorie', 'critère', 'Constat', 'Note']
print(config_notes.shape) #(84, 4)
config_notes.head(20)

Index(['Catégorie', 'Constat', 'Note', 'Critère'], dtype='object')
(84, 4)

            Catégorie  Constat  Note          Critère
0   Corine Land Cover      111     5              NaN
1   Corine Land Cover      112     4              NaN
2   Corine Land Cover      122     3              NaN
3   Corine Land Cover      210     2              NaN
4   Corine Land Cover      310     1              NaN
5   Corine Land Cover      410     0              NaN
6               Ville        0     5              NaN
7               Ville        1     4              NaN
8               Ville        5     3              NaN
9               Ville       10     2              NaN
10              Ville       15     1              NaN
11              Ville       20     0              NaN
12             Mairie        0     5  mairie_distance
13             Mairie        1     4  mairie_distance
14             Mairie        5     3  mairie_distance
15             Mairie       10     2  mairie_distance
16             Mairie       15     1  mairie_distance
17             Mairie       20     0  mairie_distance
18              Poste        0     5              NaN
19              Poste        1     4              NaN

In [18]:
def safe_float(value, default=0.0):
    try:
        return float(value) if pd.notna(value) else default
    except:
        return default
    
def distance_to_note(distance, infra, config_notes):
    """
    Convertit une distance en note (1-5) selon la table config_notes pour une infrastructure donnée.
    - distance : valeur numérique de la distance
    - infra : nom de l'infrastructure (ex: 'Hôpital') / Critère
    - config_notes : DataFrame de correspondance
    """
    # Filtrer la table pour l'infrastructure concernée
    table = config_notes[config_notes['Critère'] == infra]
    print(f"Calculating note for distance {distance} and infrastructure '{infra}'")
    for index, row in table.iterrows():
        try:
            # On suppose que la colonne 'Constat' contient des intervalles sous forme de texte, ex: '[0-1[', '[1-2[', etc.
            #interval = row['Constat'] #.replace('[','').replace(']','').split('-')
            min_val = float(row['Constat'][0])
            max_val = float(table[index+1]['Constat'][0]) if index + 1 < len(table) else float('inf')
            if min_val <= distance < max_val:
                return int(row['Note'])
        except Exception:
            continue
    return None  # ou une note par défaut

In [43]:
INFRASTRUCTURES = {
    'Hôpital': 'hopital_distance',
    'Pharmacie': 'pharmacie_distance',
    'Médecin': 'medecin_clinique_hors_camp_distance_km',
    'École': 'ecole_hors_camp_distance_km',
    'Mairie': 'mairie_distance',
    'Bus': 'arret_bus_distance_km',
    'Gare': 'gare_distance_km',
    'ATM': 'atm_distance'
}
#local_camps.query("unique_id == '199'")[['unique_id', 'nom_unique', 'hopital_distance', 'pharmacie_distance', 'medecin_clinique_hors_camp_distance_km', 'ecole_hors_camp_distance_km', 'mairie_distance', 'arret_bus_distance_km', 'gare_distance_km', 'atm_distance']]
#local_camps.set_index('unique_id', inplace=True)
df = local_camps[local_camps['unique_id'] == 564]
print(df[['unique_id', 'nom_unique']] ) #+ list(INFRASTRUCTURES.values())])

#local_camps = local_camps.iloc['199']
distances = [safe_float(df.get(col, 0)) for col in INFRASTRUCTURES.values()]
print(distances)

notes = [distance_to_note(df.get(col, 0),col, config_notes) for col in INFRASTRUCTURES.values()]
#distance_to_note(2.5, 'Hôpital', config_notes)

print(notes)

      unique_id                              nom_unique
1708        564  West Drayton. Middlesex. Colnbrook IRC
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
Calculating note for distance 1708    5.09
Name: hopital_distance, dtype: float64 and infrastructure 'hopital_distance'
Calculating note for distance 1708    1.993
Name: pharmacie_distance, dtype: float64 and infrastructure 'pharmacie_distance'
Calculating note for distance 1708    3.785
Name: medecin_clinique_hors_camp_distance_km, dtype: float64 and infrastructure 'medecin_clinique_hors_camp_distance_km'
Calculating note for distance 1708    0.577
Name: ecole_hors_camp_distance_km, dtype: float64 and infrastructure 'ecole_hors_camp_distance_km'
Calculating note for distance 1708    9.818
Name: mairie_distance, dtype: float64 and infrastructure 'mairie_distance'
Calculating note for distance 1708    0.182
Name: arret_bus_distance_km, dtype: float64 and infrastructure 'arret_bus_distance_km'
Calculating note for distance 1708    0.748
Name: gare_distance_km, dtype: float64 and infrastructure 'gare_distance_km'
Calculating note for distance 1708    2.065
Name: atm_distance, dtype: float64 and infrastructure 'atm_distance'
[None, None, None, None, None, None, None, None]